[2012-11-24 17:50] Vanuan opened #1 "Compatibility with nosetests"
I want to be able to run nosetests as well.
How  do I override "src/main/python" path?

[2012-11-24 17:51] Vanuan opened #2 "Link to documentation is broken"
README links to http://pybuilder.github.com/documentation/ which gives 404 error

[2012-11-24 17:54] Vanuan opened #3 "Unittest verbose mode"
Currently `pyb run_unit_tests` just says that tests failed without any additional messages.
Is there a verbose mode?

[2012-11-24 19:13] Vanuan opened #4 "Read ignored files from gitignore"
Pybuilder should read ignored files from .gitignore file.

[2012-11-30 19:22] #2 closed, assigned to nobody

[2012-12-16 12:56] mriehl opened #5 "Feature request : Compatibility with pip install from code drop"
Hello awesome pybuilder team!

A nice feature of pip is that you can install directly from source, e.G.

[code]

This is becoming especially useful since GitHub decided to disable the upload functionality.
Unfortunately, pip is not very smart and will die with the above command if there is no setup.py file in the project, and AFAIK there is absolutely no way to override this behaviour.

Maybe you

[2013-02-26 15:32] #3 closed, assigned to nobody

[2013-03-12 16:44] mriehl opened #7 "install_dependencies_plugin should be able to set default timeout"
I want to set the default HTTP timeout for pip commands run by the install_dependencies plugin, e.G.

pip install foo --default-timeout 120 (which sets the HTTP timeout to 120 seconds).

with something like

[code]

This is due to our cheeseshop being a bit slow due to network restrictions..

[2013-05-29 14:21] aelgru opened #8 "Use ordered dictionaries."
Some of the integration tests require ordered dictionaries.

https://travis-ci.org/pybuilder/pybuilder/jobs/7599813

[2013-07-21 14:33] mriehl opened #9 "Task list broken on python3.3"
Due to python3's more consistent ordering checks, tasks are not sortable anymore (and the task listing command tries to sort them).

[code]

[2013-07-21 14:35] #8 closed, assigned to mriehl

[2013-07-21 14:35] #9 closed, assigned to nobody

[2013-08-12 18:31] mriehl opened #10 "Linting should run on all source files"
Currently the flake8 plugin will only lint files in `$dir_source_main_python` which does not include the test sources (unittest, integrationtest).

This sucks, because readability in test sources is very much an issue!

The plugins use `execute_tool_on_source_files` from `python_plugin_helper`.
A quick search reveals that this is used in linting plugins only, so IMHO `execute_tool_on_source_files`

[2013-09-01 15:57] hokster7 opened #12 "Generate project files for PyCharm"
PyCharm doesn't really understand where things are installed to when I open up a `pybuilder` project. I'm wondering whether a generated project file can help pycharm identify this information?

[2013-09-01 17:07] #12 closed, assigned to nobody

[2013-09-01 18:44] fatuhoku opened #13 "Support PyTests"
I prefer to write tests in PyTest format rather than `nosetests` because I like not having to abide by an API. Can `pyb` be made to detect and run these PyTests too?

[2013-09-04 14:09] hokster7 opened #14 "Support Mamba BDD tests"
It'd be great to be able to run Mamba tests with PyBuilder.

[Mamba](https://github.com/nestorsalceda/mamba) is a BDD style testing library.

[2013-09-04 14:57] hokster7 opened #15 "python.core plugin properties not documented (e.g. source directory override)"
Unlike `pybuilder.unittest` plugin that has a documentation page about how `src/unittest/python` can be overridden via the project property `dir_source_unittest_python`, if I no longer want to use `src/main/python` as source directory, there is only a mention of this being possible in the tutorial.

I assume it's something like

[code]

[2013-09-05 00:17] hokster7 opened #16 "Command-line cop-out plugin"
To increase adoption of pybuilder without supporting every possible thing Pythonistas would like to do under the sun, we'll want a `python.exec_cmd` plugin that lets users pretty much define their own arbitrary shell commands and incorporate them as a part of the build process.

Liken this to the [Maven exec plugin](http://mojo.codehaus.org/exec-maven-plugin/usage.html)

[2013-09-05 12:52] #15 closed, assigned to mriehl

[2013-10-07 17:28] #14 closed, assigned to mriehl

[2013-10-08 12:21] hokster7 opened #17 "Ability to execute just one task"
Sometimes it's convenient to just execute one task. There should be a way to quickly identify and run a single task from the command line, regardless where in the lifecycle it is.

[2013-10-08 12:25] hokster7 opened #18 "Custom tasks should know whether project sources have changed at all"
I'm writing a custom task and am finding it difficult to determine whether the project sources or build scripts had changed since the task last ran.

This would be useful in speeding up repeated builds because certain phases don't need to perform any building if the artefact it produces (in the `target` directory) is already up to date. This is in accordance with the property that each execution p

[2013-10-14 07:37] mriehl opened #19 "Allow loading of external plugins"
As a pybuilder user I want to be able to ship a plugin that is independent from the pybuilder sources (e.G. install from PyPI) but can be used nonetheless.

[2013-10-14 07:37] #19 closed, assigned to mriehl

[2013-10-28 15:20] hokster7 opened #20 "Problem running on Windows"
When trying to build on windows using PyBuilder I always get a 'this file is being used by another process' error. How comes?!

[code]

Thanks!

[2013-11-07 15:06] mriehl opened #21 "The flake8_plugin should require prepare to run first"
See [this issue](https://github.com/yadt/yadt-minion/issues/2).
`analyze` currently does not enforce that `prepare` must run first, but it is `prepare` that creates the reports directory.
Since the flake8 plugin writes a report, it should require `prepare` to run first.

Easy to reproduce with `pyb clean` followed by `pyb analyze` with the flake8 plugin active.

[2013-11-07 15:56] #21 closed, assigned to mriehl

[2013-11-08 14:36] #10 closed, assigned to nobody

[2013-11-14 01:39] aelgru opened #22 "Build failed after upgrade to 0.9.15"
[code]

This happened because my project [committer](https://github.com/aelgru/committer) has no integration tests.
Therefore the property is not set. The property is set in the [integrationtest_plugin](https://github.com/pybuilder/pybuilder/blob/master/src/main/python/pybuilder/plugins/python/integrationtest_plugin.py#L30).

I guess if you would have a project without unittests you would experien

[2013-11-14 14:35] #4 closed, assigned to nobody

[2013-11-21 20:21] aelgru opened #23 "Switch to pip python API?"
On some Linux distributions (namely fedora) pip comes as `pip-python` instead of `pip`. [see fedora](http://stackoverflow.com/questions/4126745/python-pip-yum-package-provides-pip-python-instead-of-pip)

[2013-11-21 20:24] aelgru opened #24 "PyCharm-PlugIn"
A PyCharm plugin would really be nice. Right now I have to manually mark `src/main/python` and `src/unittest/python` as python source directories.

[2013-11-21 20:28] aelgru opened #25 "Revive Django Plugin!"
What are we going to do with the python.django plugin?
It's not doing a lot right now ...and what it is doing is buggy.

[2013-11-21 20:33] aelgru opened #26 "Document Plugins"
Documented plugins:
- [x] python.coverage
- [x] python.distutils
- [ ] python.django
- [x] python.flake8
- [x] python.pep8
- [x] python.install_dependencies
- [x] python.pychecker
- [x] python.Pydev
- [x] python.pylint
- [x] python.pymetrics
- [x] python.unittest
- [x] python.integrationtest
- [x] copy_resources
- [x] filter_resources
- [x] source_distribution

[2013-11-22 17:33] mriehl opened #27 "[distutils-plugin] Should package modules also, not just packages"
Currently, as @esc and @ollihoo found out, the distutils plugin will only package python sources if there are in a package, e.g.

[code]

But if there are only modules, e.G.

[code]

then pybuilder will create an "empty" source distribution.
The reason is that modules must be added to setup.py with `py_modules`, something the distutils-plugin currently does not do at all.

[2013-11-25 18:45] aelgru opened #28 "Measure branch coverage"
Ned Batchelder's coverage tool (which is the one we are using) allows to measure the branch coverage via a option `---branch`. There should be a property to switch this on.

[2013-12-06 10:40] mriehl opened #29 "pytddmon plugin"
pytddmon is a plugin that runs unit tests after every change and gives constant feedback about it with a simple widget.

Currently I use something like

[code]

in my unittest folder but that's a bit crazy. Pybuilder could encapsulate this for me and provide tasks like start_tdd_monitoring and stop_tdd_monitoring (nonblocking of course).

Currently pytddmon is not on the cheeseshop but when it bec

[2013-12-06 11:41] mriehl opened #30 "Mockito cannot be installed on python3.3"
I am unable to install mockito on a fresh, clean python3.3 install. Travis also fails.
I think we should get rid of mockito - it seems to use distribute bootstrapping with an old version of distribute (distribute-0.6.10). The current distribute version is 0.7.3

@aelgru what do you think?

[2013-12-06 15:37] #22 closed, assigned to aelgru

[2013-12-06 21:39] aelgru opened #31 "Right now it's not possible to use a single quote in build.py's description."
Unfortunately when we write the setup.py we are using a string as template.
This template contains single quotes for the description string, which means if you are using a single quote in the description the distutils plugin is generating invalid python. [distutils_plugin line 44](https://github.com/pybuilder/pybuilder/blob/master/src/main/python/pybuilder/plugins/python/distutils_plugin.py#L44)

[2013-12-09 08:42] #31 closed, assigned to nobody

[2013-12-09 10:49] #26 closed, assigned to mriehl

[2013-12-09 15:41] #16 closed, assigned to mriehl

[2013-12-13 11:10] #5 closed, assigned to nobody

[2013-12-13 12:39] #1 closed, assigned to nobody

[2013-12-27 10:27] #30 closed, assigned to nobody

[2013-12-30 11:19] #23 closed, assigned to nobody

[2013-12-30 12:10] #24 closed, assigned to mriehl

[2013-12-30 13:03] #20 closed, assigned to nobody

[2013-12-30 13:04] #7 closed, assigned to nobody

[2013-12-30 14:06] #29 closed, assigned to nobody

[2013-12-30 22:33] alesandroLang opened #33 "add support for versions within install_dependencies"
It would be nice if there is a way to specify the version for a dependency.
Something like:

[code]

[2013-12-30 22:54] #33 closed, assigned to nobody

[2014-01-02 12:22] mriehl opened #34 "Sublime text plugin"
As a _PyBuilder_ user working with sublime text I want a ST3-compatible pybuilder plugin to be able to run `pyb` without leaving the editor.

The following should be configurable:
- path to python interpreter (use the `python_interpreter` setting from anaconda and sublimepythonide)
- task(s) to run, default tasks as a default

Output should go to a scratch view.

[2014-01-02 18:50] aelgru opened #35 "Make sure module pythonbuilder has been removed."
Module `pythonbuilder` should die with release 0.10.0

[2014-01-03 13:47] #34 closed, assigned to mriehl

[2014-01-03 17:10] mriehl opened #36 "Asciinema demos"
As a potential PyBuilder user I would like to see examples running to quickly gain an overview of the benefits PyBuilder offers.

[2014-01-06 07:48] mriehl opened #37 "Verbose mode default?"
I find myself constantly passing the -v flag to get feedback about failed tests or errors found during analysis.

I think that either the project should be verbose by default or the plugins should always give information about failures (when they lead to a BuildFailed at least, since we know that's the last thing that happens.).

The latter is probably better because it's not too intrusive.

I und

[2014-01-06 13:21] #37 closed, assigned to nobody

[2014-01-06 13:23] mriehl opened #38 "Document execute_tool_on_source_files"
This is an important API function for plugins because it forwards output in case of an error, based on `$name_verbose_output`.

[2014-01-07 09:06] #38 closed, assigned to nobody

[2014-01-08 16:38] brent-hoover opened #39 "Install Dependencies not running before unittests"
I was just setting up a little lab with the sample projects included with package just to see how the package worked, etc.

Create a separate directory called pybuilder-samples, copied the sample files in there, made a virtualenv, pip install pybuilder into it and then ran them.

It looks like maybe these are set up with the some "fill in the blanks" stuff but I wanted to get these working before

[2014-01-09 10:57] mriehl opened #40 "Self-Bootstrapping"
It would be great if the `build.py` could be used to bootstrap pybuilder.

e.G.
`./build.py` should give me feedback that I need to install pybuilder if it's not installed, and run pybuilder if it is.

This would avoid discouraging people used to `setup.py` or `manage.py` since currently trying to run the build description does nothing useful or understandable.

[2014-01-09 17:29] aelgru opened #41 "Skeleton Creation using `pyb create`"
To stop us from discussing this further in #40 I create a new issue here.

@zenweasel suggested to create a new task `pyb create` which would setup a basic project (create directories etc...).

[2014-01-10 21:57] #41 closed, assigned to nobody

[2014-01-10 21:58] mriehl opened #42 "need to document pyb --start-project"

[2014-01-18 15:16] mriehl opened #43 "make maven analogy more explicit"
As note by @aelgru the abstract tasks provided by pybuilder (e.G. verify, analyze, publish, package, ...) are very similar [to the maven lifecycle](http://maven.apache.org/guides/introduction/introduction-to-the-lifecycle.html).

There should be more overall emphasis on this in the documentation.

[2014-01-19 21:42] #39 closed, assigned to mriehl

[2014-01-20 17:47] aelgru opened #44 "Import error doesn't show stack trace"
During a refactoring a stumbled on the following phenomenon: an import error in the unittests does not print a stack trace (even not when verbose output is switched on).

[code]

Therefore it's hard to see where the import error happens.

[2014-01-21 11:23] #44 closed, assigned to mriehl

[2014-01-22 13:11] mriehl opened #45 "Need to pimp the integration test output when running in parallel"
Currently integration tests running in parallel can be confusing, because there is no feedback when a test actually finishes. At least two different users thought that

[code]

means that the test successfully completed, although it was just started.

Ideas :
- display start/finish for each test instead of just start
- dynamic progress bar with colors for running/finished/not started

[2014-01-23 07:37] #45 closed, assigned to nobody

[2014-01-27 15:51] aelgru opened #46 "flake8 PlugIn: prints and counts every error twice"

[2014-01-27 23:08] aelgru opened #47 "Generate description from README, README.md, README.txt"
As a python developer I want to create a nice description for PyPI.
Nearly every GitHub project comes with a README.md (or something like that).
It would be nice to have a simple way to generate the PyPI description from the GitHub flavored markdown / text file.
Within build.py
[code]
or
[code]

[2014-01-29 09:04] aelgru opened #48 "frosted PlugIn"

[2014-01-30 08:40] #46 closed, assigned to nobody

[2014-01-30 09:58] #18 closed, assigned to nobody

[2014-01-30 10:01] #17 closed, assigned to nobody

[2014-02-07 09:02] mriehl opened #51 "Test for installed pybuilder"
We should have a test that checks if pybuilder is installed locally. This can lead to strange test failures because the imports pull from the local installation, but the tests are from the source. I think I remember @aelgru did this in shtub or so.

[2014-02-07 09:17] #35 closed, assigned to nobody

[2014-02-07 09:28] mriehl opened #52 "Document "developing for pybuilder""

[2014-02-07 10:59] #52 closed, assigned to nobody

[2014-02-10 08:08] #51 closed, assigned to nobody

[2014-02-11 08:35] mriehl opened #53 "deal with unittest2 somehow"
unittest2 is a backport of the new features added to the unittest testing framework in Python 2.7. It adds a few features like `setUpClass`.

I am unsure if it's worth the hassle myself (`setUpClass` makes it easy to write bad tests that depend on each other) but there might be some good uses of the new features.
I think it should be possible to either use unittest2 by default (if it's there) or t

[2014-02-12 06:19] markmevans opened #54 "Extend python.unittest plugin to support a unittest glob, or a unittest_file_prefix"
First of all thanks for creating PyBuilder. I'm in the process of converting a project at work to use it and it's great!

Some tools we use expect unittests to have a specific file prefix, rather than a file suffix.  What do you think about supporting an optional unittest_file_prefix property as well as unittest_file_suffix? Or perhaps a unittest_file_glob property? While we can work around this,

[2014-02-14 20:08] markmevans opened #56 "Workaround: distutils sdist fails on some filesystems (like VirtualBox shared filesystem)"
This is not a PyBuilder bug, but I thought this work around might be useful to other PyBuilder users.  There is a long standing [distutils bug](http://bugs.python.org/issue8876) that prevents distutils from working in certain environments. Basically, distutils [assumes that all mounted filesystems support hardlinks](http://stackoverflow.com/questions/7719380/python-setup-py-sdist-error-operation-n

[2014-02-20 00:02] #54 closed, assigned to nobody

[2014-02-20 00:15] markmevans opened #57 "Add a build specific directory to sys.path for support files."
I wanted to have project specific plugins and support code while keeping my `build.py` file small and I didn't want to clutter my project's root directory.  So I created a `bldsup` subdirectory and added the following to my `build.py`:

[code]

What do you think about formalizing the idea as part of PyBuilder? There could be a default subdirectory name (`bldsup`, `build`, or `build.imp` come to mi

[2014-02-20 12:29] #56 closed, assigned to mriehl

[2014-03-16 20:05] aelgru opened #61 "Allow to use plugins from PyPI."
As a developer I want to contribute my PyBuilder-PlugIn to the community without having to commit it to the PyBuilder-core source.

One way to implement this is to make sure `use_plugin` allows to address plugins at PyPI.

[code]

This will give developers the freedom to create plugins as they want to.

[2014-03-21 10:43] mriehl opened #64 "CI server counts unittests twice"
The unittest plugin now communicates with a CI server (if configured) to report the unit tests that run.
If the coverage plugin is used, then all tests run twice, and the CI server counts double the amount of actual unit tests.

 This needs to be avoided.

[2014-03-21 10:51] #64 closed, assigned to mriehl

[2014-03-21 13:29] mriehl opened #65 "Generate xUnit file for test reporting (jenkins)"
http://nose.readthedocs.org/en/latest/plugins/xunit.html

[2014-03-24 08:19] #53 closed, assigned to nobody

[2014-03-26 10:17] #48 closed, assigned to mriehl

[2014-03-31 06:29] #57 closed, assigned to nobody

[2014-04-01 09:30] mriehl opened #70 "Cram plugin documentation"

[2014-04-01 09:52] #70 closed, assigned to mriehl

[2014-04-07 07:00] #40 closed, assigned to nobody

[2014-04-08 21:17] aelgru opened #74 "Scripts are not detected as source"
When you have scripts in `src/main/scripts` PyBuilder does not detect them as source.
As a consequence `flake8`, `pep8` or `frosted` will not process those files.

I think scripts should be processed by linters too.

[2014-04-16 12:55] mriehl opened #75 "Remove pacman after integration tests finished"

[2014-04-19 09:33] #75 closed, assigned to mriehl

[2014-04-19 09:34] #42 closed, assigned to nobody

[2014-04-19 11:44] mriehl opened #78 "How do we upgrade external plugins"

[2014-04-19 11:47] mriehl opened #79 "Document how to write an external plugin"
There is already a sample but it needs to be documented, based on 29532a63feb2325b773386738d99a744dc3d0fca probably.

[2014-04-19 11:52] #61 closed, assigned to mriehl

[2014-04-19 13:09] #79 closed, assigned to nobody

[2014-04-25 12:06] #27 closed, assigned to mriehl

[2014-05-09 13:04] #74 closed, assigned to mriehl

[2014-05-22 17:18] mriehl opened #82 "Scaffolding should create dir_source_main_scripts"

[2014-05-23 07:02] #82 closed, assigned to nobody

[2014-05-27 15:26] mriehl opened #84 "Need a task to enforce dependencies"
A task enforce_dependencies (or perhaps check_dependencies) should be provided so that I can put in a constraint that my package can only be built in a certain env.

I should then be able to add enforce_dependencies to the default_tasks (if I want to) so that this is always performed before anything else.

[2014-06-03 14:41] mriehl opened #86 "Work around pip usability problems"
There is a new "feature" in pip where installing a dependency will not work unless you add tons of unnecessary parameters.

For instance

[code]

will not work. What you need to run is

[code]

I understand this is a problem with the pil library itself (badly packaged / not hosted on pypi / no signed downloads) but having to add all these flags is really really tedious.

I'm thinking about a somet

[2014-06-03 14:42] mriehl opened #87 "Document project.[build_]depends_on"
This is currently missing from the install_dependencies plugin documentation.

[2014-06-03 16:32] #87 closed, assigned to mriehl

[2014-06-04 07:07] #86 closed, assigned to mriehl

[2014-06-08 21:00] aelgru opened #90 "Move plugins to separate repositories / PyPI"
Since we can now load plugins from PyPI we should remove all plugins which are not core plugins. For the sake of backwards compatibility we should make sure that the plugins can still be found using the old addresses.

Highest Priority:
- [x] Jedi Linter ... it crashes and clutters the logging output.

Affected Plugins:
- [ ] Cram
- [ ] Django
- [ ] Pep8
- [ ] PyLint
- [ ] PyCharm
- [ ] PyDev
- [

[2014-06-28 09:14] aelgru opened #92 "Project description and decorator description"
Sorry if this has been discussed before, but ...

Unfortunately the project description and the description decorator have the same identifier.

[code]

Of course this will lead to an error:

[code]

I wonder if we should rename it to something like `task_description` and offer `description` as an "alias". This way we would stay backwards compatible and we would have a non conflicting api.

[2014-07-18 13:53] sg2002 opened #94 "No executable file on Windows"
When you install pybuilder it does not create any meaningful executable files on Windows, only a python script called "pyb" with no extension. This alone is not runnable from Windows shell.

If somebody is dealing with this too, for a quick workaround you can create a file called pyb.bat with contents:
%~dp0python %~dp0pyb %*
This is assuming your pyb and python are on the same level(virtualenv ca

[2014-07-18 14:01] sg2002 opened #95 "install_dependencies does not work on Windows"
If you try to install_dependencies on Windows you get a failure. Here's an example pip log:
Exception:
Traceback (most recent call last):
  File "c:\venvs\snmp34x64\lib\site-packages\pip\basecommand.py", line 122, in main
    status = self.run(options, args)
  File "c:\venvs\snmp34x64\lib\site-packages\pip\commands\install.py", line 257, in run
    InstallRequirement.from_line(name, None))
  File

[2014-07-18 15:48] #95 closed, assigned to mriehl

[2014-07-23 09:13] mriehl opened #96 "Allow to use a filename as dependency"
- Some naming schema is probably required (if some day someone creates a python package called `requirements.txt`). @aelgru suggests using a different method which would be the easiest way to go about this I guess
- Using a file as dependency needs to add up with other dependencies, so that plugins e.G. flake8 can still depend on additional libraries

[2014-07-23 09:16] #92 closed, assigned to mriehl

[2014-07-24 11:10] sebastianmika opened #97 "flake8_exclude_patterns use wrong flake8 option"
`flake8_plugin.py` on line 69: The line should read:
`command.use_argument('--ignore={0}').formatted_with_truthy_property('flake8_exclude_patterns')`, i.e. `--ignore` instead of `--exclude`.

At least that is the case for my flake8 executable

[2014-07-24 12:33] #97 closed, assigned to nobody

[2014-07-25 12:22] mriehl opened #98 "sphinx plugin"

[2014-07-27 15:26] sg2002 opened #99 "Plugin exec returns bytes, not str on windows."
Hello. It's me again.

Found another platform specific thing with Windows.

If we use plugin exec, and we execute some basic command, let's say "dir" it's going to return bytes, not a string and later on write_report in core_plugin.py is going to fail because of that. Happens in python 3.4...

[2014-07-27 16:33] #99 closed, assigned to mriehl

[2014-07-28 07:21] mriehl opened #100 "Jedi linter!!!!!!!!111111"

[2014-07-28 09:26] #100 closed, assigned to mriehl

[2014-08-07 07:51] mriehl opened #103 "Explore dependency freshness"
I noticed the command `pip list --outdated` which lists outdated packages (current vs. newest version).

It's probably possible to do this with the pip API (albeit this might require a specific pip version) and if it is we should have a task for checking dependency freshness.

[2014-08-08 20:14] zageyiff opened #104 "Add pip executable path as CLI argument"
Add argument which points to the pip executable, same option as virtualenv gives to provide the executable of python:
-p PYTHON_EXE, --python=PYTHON_EXE
virtualenv --python=/path/to/python

Might look like this in pyb for pip executable
pyb --pip=/path/to/pip

Or rather use the one at the smae level of pyb executable.
Right now I use absolute path to pyb without the virtualenv activated. When inst

[2014-08-09 08:37] aelgru opened #105 "Tutorial: How to migrate your project to PyBuilder"

[2014-08-09 08:39] #96 closed, assigned to mriehl

[2014-08-16 10:49] aelgru opened #106 "doctest plugin"
We have some doctests, but apparently it looks like we are not running them.

[see pybuilder.utils.as_list](https://github.com/pybuilder/pybuilder/blob/5a306a057f6c813d3e40cbea8548659165e9d036/src/main/python/pybuilder/utils.py#L47)

[2014-08-25 07:51] arnehilmann opened #107 "filter_resources_glob behaves strange for unknown keys"
Context: A script produces colorful output using '${RED}' as markup.
When using filter_resources_glob on that file, '${RED}' gets replaced with 'RED', because the filter does not know 'RED', producing some funny output 'REDan error occuredNORMAL'.

Expected behaviour:
a) a warning when key is unknown,
b.1) leave key untouched (leaving '${RED}' in the output),
b.2) replace with empty string.

[2014-08-29 19:42] #107 closed, assigned to mriehl

[2014-08-29 20:02] aelgru opened #109 "Travis build environment!?"
Works again ...

[2014-08-29 20:44] #109 closed, assigned to nobody

[2014-09-22 16:37] MirkoRossini opened #110 "list_packages not working correctly"
Hello,

I just started using pyb on an existing project. I ran into a weird issue where the first letter of all packages was missing in all the packages in setup.py. i.e. I have:

packages = ['oaders', 'awdata', 'onfig',..]

instead of

packages = ['loaders', r'awdata', 'config',..]

I fixed by redefining Project.list_packages in build.py, removing the [1:] splice (see core_plugin.py)
I may be doi

[2014-09-23 07:57] #110 closed, assigned to nobody

[2014-12-30 16:30] raphiz opened #112 "Using the 'dir_dist_scripts' property in python3 breaks the setup script"
I tried to move scripts to a nested directory using the `dir_dist_scripts` property ([Moving scripts to a nested directory](https://pybuilder.github.io/documentation/plugins.html#anchor28))
I got the following error:

[code]

I then found the following line in the generated `setup.py`:

[code]

Without the mentioned `dir_dist_scripts` property the same line looked like this:

[code]

This issue on

[2014-12-30 17:55] #112 closed, assigned to nobody

[2015-01-01 10:36] mriehl commented on #98
`pybuilder==0.10.38`. Thanks @tjpnz !

[2015-01-01 10:36] #98 closed

[2015-01-01 10:37] tjpnz commented on #98
Not a problem @mriehl

Happy new year!

[2015-01-01 11:01] mriehl commented on #98
Happy new year :cocktail: :sparkles:

[2015-01-18 18:27] SzeMengTan opened #115 "list_packages in core_plugin does not correctly handle path separator in Windows"
When generating the list of packages (e.g. for distutils), a leading backslash in Windows leads to a package name starting with "." which raises a warning in distutils. The test `if package.startswith("/"):` on line 50 of core_plugin.py should probably be replaced by `if package.startswith(os.sep):`

[2015-01-19 08:07] mriehl commented on #115
You're totally right of course, I'll fix that up ASAP. Thanks for the report.

[2015-01-19 08:11] #115 closed

[2015-01-19 11:42] mriehl commented on #115
Fixed in `pybuilder==0.10.39`, FTR.

[2015-02-05 19:05] zroadhouse-wsm opened #116 "Use PEP 440 versioning"
In a number of the examples in the tutorial (and elsewhere), it looks like PyBuilder is using maven-style versioning (-SNAPSHOT) instead of the development versioning in the PEP 440 standard (.dev#). Would you consider using the PEP 440 style versioning to better integrate with other Python tools?

https://www.python.org/dev/peps/pep-0440/

This would be especially helpful when integrated with a r

[2015-02-05 21:11] mriehl commented on #116
I don't really have a preference so I'm inclined to follow the PEP since it's standardized.

Thanks for bringing this to my attention. Do you want to do a pull request?

But to be honest I don't use snapshot/dev versioning very much, since with continuous delivery every build will result in a release (provided it passes the tests). Creating artifacts with "snapshot" or "dev" in the version makes i

[2015-02-05 21:36] zroadhouse-wsm commented on #116
Thank you! I can put together a pull request.

In our workflows, we tend to leave versions at -SNAPSHOT (for Java) or .dev (for Python) while we are in the process of development (which might be a few hours or several weeks). Releasing a version is currently a human decision that doesn't automatically happen in our CI servers for every commit.

[2015-02-05 21:54] mriehl commented on #116
That would be great!

[2015-02-06 21:20] zroadhouse-wsm commented on #116
Submitted a PR => https://github.com/pybuilder/pybuilder/pull/117

[2015-02-06 21:22] zroadhouse-wsm commented on #116
I may also take a shot at writing a maven style release plugin that automatically updates the versions, etc. I recently wrote a version of this for our team for our internal build tool, and it shouldn't be too hard to port to PyBuilder.

[2015-02-07 17:09] mriehl commented on #116
`0.10.41` is out now, with #117 merged.
Thanks again!

A release plugin that updates the versions (like mvn release) sounds great too!

[2015-02-07 17:09] #116 closed

[2015-02-25 14:16] mriehl opened #118 "build.py API documentation"
Right now the API usable within the build.py is not fully documented. We would need a new documentation page for this kind of thing, as it doesn't fit in the plugins documentation (which is overloaded anyway).

* [ ] Document `project.*` methods (like `project.install_file`
* [ ] Document module variables (like `version` and `name`).
* [ ] Document the VCS revision stuff
* [ ] Document build.py bo

[2015-03-02 08:35] mriehl opened #119 "Coverage plugin leads to error when there are no tests"
Trying to save the coverage fails when there is no data. As a consequence even if break_build is false, this leads to a build failure.

[2015-03-02 13:28] #119 closed

[2015-03-12 11:53] schlomo opened #121 "Make pybuilder Unicode safe"
When writing unit tests that contain Unicode strings pybuilder fails with an error:

[code]

Running the same build with `-X` showed that pybuilder fails to display a message containing Unicode strings:

[code]

Manually adding *u* in front of the string literal in unittest_plugin.py solved the problem.

In this test I used assertEquals to compare two Unicode strings and they where different so th

[2015-03-12 17:11] mriehl commented on #121
Nice catch, thanks for the report.

[2015-03-13 17:08] gvanrossum opened #122 "Error: maximum recursion depth exceeded in cmp"
I have this build.py:
[code]
Now when I run `pyb sqlite` it will correctly tell me I have a circular dependency. But when I run 'pyb python` I get "maximum recursion depth exceeded in cmp" which seems to be a bug in pyb.

(Also, is there an API to ask a task for its -- direct and indirect -- dependencies? I am trying to use pybuilder as a kind of Make for project artefacts and each task needs to u

[2015-03-13 19:24] mriehl commented on #122
Thanks for bringing this to my attention. The circular dependency detection is _very_ naive right now.
I have replaced it with a tarjan SCC on the dependency graph which passes any test case I could come up with, but it still needs some more polish, I'll try to get it out tomorrow.

There's no API to obtain a task's dependencies currently. Can you clarify what you'd expect / how you'd use it, mayb

[2015-03-13 20:03] gvanrossum commented on #122
Thanks for the quick response!

Here's what I'm trying to accomplish -- I'm still not sure whether
pybuilder is useful for this or not. I'm not building Python packages --
I'm building a large app written in C, which uses many other libraries
written in C. Each dependency (e.g. sqlite) has its own checkout and we're
building from source. Once built, we collect the artifacts in a directory
named af

[2015-03-13 20:44] mriehl commented on #122
I understand.
The following is possible with the changes I have made to fix the circular dependency detection issue (I have yet to push them to github):

[code]

This looks like it would solve your problem, doesn't it? I'd add some kind of wrapper, of course, since the code above makes a lot of assumptions about the pybuilder internals.

[2015-03-13 23:08] gvanrossum commented on #122
Yes, that would solve my problem. Thanks! (Another time I'd like to tell
you about my experience trying to understand pybuilder's docs.)

On Fri, Mar 13, 2015 at 1:44 PM, Maximilien Riehl <notifications@github.com>
wrote:

--
--Guido van Rossum (python.org/~guido)

[2015-03-13 23:29] mriehl commented on #122
Great, I'll try to get it out asap then. Feedback on the docs is always welcome, though I fear we need an overhaul there :-/

[2015-03-14 10:28] mriehl commented on #122
Using `pybuilder==0.10.54` should detect the cyclic dependency you reported (and any other you can come up with).
What's more, this now works:

[code]

and it outputs:

[code]

Thanks again for reporting this bug.

[2015-03-14 10:28] #122 closed

[2015-03-14 16:17] mriehl commented on #94
I'm closing this for now. Using `pyb_.exe` is okay-ish and I'm not comfortable with using the setuptools entrypoint on systems that support shebangs.

[2015-03-16 09:41] #121 closed

[2015-03-16 09:45] schlomo commented on #121
Thanks a lot! Is this already released? If not, can you say when?

[2015-03-16 10:05] mriehl commented on #121
I'll release it immediately once I have fixed the issues on python3 (see travis :-/).

[2015-03-16 10:21] mriehl commented on #121
I just release `pybuilder==0.10.56` with the fix. Thanks for your bug report!

[2015-03-16 10:28] schlomo commented on #121
Thanks a lot. I was not aware of the future import solution.

What do you think about the issues explained in http://stackoverflow.com/questions/809796/any-gotchas-using-unicode-literals-in-python-2-6?

[2015-03-16 10:37] mriehl commented on #121
Since PyBuilder is python 3 compatible in theory there *should* be no problems when adding the unicode_literals pragma anywhere.
But we don't have that pragma on every file, so the mix of both (which is one of the problems described) could very well hurt us on python2.

But I'm not really a fan of adding a ton of boilerplate code in every file (in theory we would also need the real division and pr

[2015-03-16 10:44] schlomo commented on #121
This is the first time that I dig into Python and Unicode at this level, I
am just learning here :-)

The main question I am asking myself is if we should start to use future
imports as the basis for our work or keep working with Python2 "best
practice" for Unicode.

I am afraid that the Unit Tests do not give complete coverage in this case
as Python automatically determines the encoding for stdin

[2015-03-16 10:51] mriehl commented on #121
Python3 is the only way forward, so we should definitely be using the future imports where applicable (which is mostly everywhere for unicode_literals, since all strings are unicode by default).
There's no way to turn the future stuff on globally, unfortunately (except for command line flags).

[2015-03-16 17:50] gvanrossum commented on #122
Thanks for your quick response to both issues!!

On Sat, Mar 14, 2015 at 3:28 AM, Maximilien Riehl <notifications@github.com>
wrote:

--
--Guido van Rossum (python.org/~guido)

[2015-03-19 11:53] glujan opened #123 "How to handle dependency from github?"
I have an issue when in my `requirements.txt` I put some dependency from git repository (not present on PyPI), ie:
```-e git+https://github.com/someuser/someproject.git#egg=some_package```

The issue occurs when I am trying to do `pyb publish` on my project. What it gives me is this error:
```error in project setup command: 'install_requires' must be a string or list of strings containing valid pr

[2015-03-19 12:09] mriehl commented on #123
This looks like a bug, the use of a requirements file currently does not distinguish between dependencies and dependency links / editable URLs.
What works right now is the `project.depends_on()` API - this formats editable URLs in the right fashion.

I'll see to it that the editable URL works in a `requirements.txt` too - this is definitely something we want to "just work"

[2015-03-19 13:38] glujan commented on #123
Thank you for your reply.

I've used the walkaround suggested by you. It worked for me, thanks again.
What I've added to my `build.py` is more or less:
[code]

[2015-03-19 15:38] mriehl commented on #123
Yup, that's the API I was writing about. Happy to hear that it works, but the fact that it doesn't work with an editable in the `requirements.txt` is definitely a bug I want to fix.

[2015-03-20 13:04] #123 closed

[2015-03-20 13:39] mriehl commented on #123
With `pybuilder==0.10.58` the requirements.txt version should also work.

Thanks for reporting!

[2015-03-20 13:41] glujan commented on #123
It works for me, thanks!

Pozdrawiam,
Grzegorz Ł. Janik

2015-03-20 14:39 GMT+01:00 Maximilien Riehl <notifications@github.com>:

[2015-03-27 18:08] mriehl opened #125 "Ideas for scaffolding"
* Installs dependencies as a last step
* Runs sphinx-quickstart if the user wants the sphinx plugin
* Run a full build to get started
* Git init

[2015-03-28 17:04] mriehl commented on #118
@locolupo what do you think? Will the new documentation structure on read the docs allow us to do this in an intuitive fashion? Would you add these things to the plugin documentation (e.G. document `project.depends_on()` in the install_dependencies plugin) or with a more problem-oriented approach (I want to build with distutils, so here's the distutils plugin and here's `project.install_file()` an

[2015-03-29 11:12] mriehl commented on #36
Asciinema now supports image previews which we can embed responsively.

[example](https://api.github.com/repos/sickill/compute-video-demo-chef/commits/110e2f84b49256aaa9471fbee361c04c47857a78)

[2015-03-31 18:59] OzTiram commented on #43
While project directory structure is a matter of taste, I think the cohering of, or even defaulting to maven structure like is a really bad choice, since it simply does not comply to normal python conventions.
See for example how projects built by  `django-admin.py startproject` or `cookiecutter`.

I find the ideas behind pybuilder really cool, but it is really hard to start with because of the pr

[2015-03-31 19:14] mriehl commented on #43
Hi @OzTiram, thanks for the feedback. I think separating sources and tests is really great and should always be done.

What would you say is the big difference to something like cookiecutter?

Anyway, there's nothing stopping you from changing the defaults. It's perfectly fine to have a pybuilder project with sources and tests in `lib`, together (although this might require a change to exclude tes

[2015-03-31 20:45] OzTiram commented on #43
@mriehl I understand pybuilder is heavily influenced from the fact that at immobilienscout24 you use a lot of JAVA, an I like the ideas behind pybuilder.
But if you want this to be more pythonic, the defaults should be more pythonic too. Cookie cutter would separate the tests from sources too, most people will follow conventions described here:

http://stackoverflow.com/questions/193161/what-is-th

[2015-03-31 21:17] mriehl commented on #43
I totally understand where you're coming from.
The tree layout we use might seem a bit over-the-top-ish, but to be clear it's not about being java like (or even maven like) - it just so happens that the layout chosen by maven makes it easier to work on big projects with a lot of people, compared to the cookiecutter style layout (imho - you're free to disagree).

With the src/main src/*test layout,

[2015-04-01 14:53] mriehl opened #126 "How do we deal with tox"
A tox plugin would be really great to find python version compatibility problems fast.
Although I'm not sure how relevant it is going to be in a few years while services like travis continue to improve. Babysitting 5+ different python installations on your own machine is a huge pain (I am unable to get 3.4 to work in a tox run right now).

Aside from that, the bigger problem is that tox _requires_

[2015-04-13 10:10] glujan opened #127 "Including non-python files to package"
Hi,
I am developing some Django plugin and I keep my static files (like templates, less and js) in my source directory (i.e. in each app I have `templates` directory).

The issue is that I can't figure out how to tell PyBuilder to include my static files into distribution.

I wrote some monkey-patching task which adds `include_package_data = True` to setup.py arguments and created a `MANIFEST.in`

[2015-04-13 10:31] glujan commented on #127
I am aware of [copy_resources](https://pybuilder.github.io/documentation/plugins.html#Copyingresourcesintoadistribution) plugin but it doesn't do what I want. I want to keep my directory structure, not copy everything to the same directory.

[2015-04-13 13:25] mriehl commented on #127
Yeah sorry, this is not well documented currently. We're working on replacing the documentation.

There are two possibilities to add data files, both involve using the project object in your `build.py` initializer :

* `project.include_file(package_name, filename)`
* `project.install_file(destination, filename)`

Install_file is for a static destination (`/tmp` for example) and include_file is for

[2015-04-13 14:00] glujan commented on #127
Thanks!

It looks like I can't add whole directory and need to declare each file separately which is not really nice.

It will be great to have a function like `project.include_directory(directory, file_names)` that would generate in MANIFEST.in line:

    recursive-include directory file_names

i.e. `recursive-include src/static *.min.js *.css`. Would you accept such a PR if I prepared some code

[2015-04-13 14:26] mriehl commented on #127
I think this would be a great enhancement. You can do this in the `build.py` with shutil of course but it would be **much** better to have this logic in pybuilder to avoid cluttering of the build descriptor.

[2015-04-15 06:41] glujan commented on #127
@mriehl, just to inform you - I am going to write this feature today evening. In case of lack of time I will finish it tomorrow evening.

[2015-04-15 07:31] mriehl commented on #127
Great to hear, thank you for working on this!

[2015-05-02 04:42] pahaz opened #130 "Why venv not created by himself?"
Hi, what do you think about creating virtualenv dir with requirements if it is not exists?

Example:

[code]

The reason of this is don`t create virtualenv dy hands and do it automaticaly. We can say that it gives the convenience of NPM in node.js.

[code]

What do you think about this?

[2015-05-02 04:55] turtledoveadmin commented on #130
Thanks so much for the reply I'm still really learning all about I'm tryin
to get it down and figured out really like I rooted it and some reason I
cannot root with a custom recovery still but the cfautoroot way is working
only and then I run my busy box and I used to have four custom ROMs on my
s3 but I only have found one room for note 4 and just rather keep stock but
rooted with a custom recove

[2015-05-02 06:37] pahaz opened #131 "NFS (windows+vagrant) problem with making link"
making hard links in wflow-1.0.dev0...
    hard linking setup.py -> wflow-1.0.dev0
    error: Operation not permitted

Hi, I use windows vagrant with sync `nfs` folder. And as you can see I have problem with making link.

[2015-05-02 06:59] mriehl commented on #131
Hi, it's actually [a stdlib problem](http://bugs.python.org/issue8876) but we ran into it before.
You can activate a workaround with

[code]

in your `build.py`'s initializer.

[2015-05-02 07:01] mriehl commented on #131
On a second thought, maybe it could be automated somehow. I'm not really comfortable with having to do virtualization detection but if that's what it takes to work out of the box on vagrant / virtualized systems without hardlinks then maybe we should consider it.

[2015-05-02 07:05] mriehl commented on #130
Hi,

The `pyb run` sounds like a good idea. It would be easy too, essentially it would just set the `PYTHONPATH` and then run a script from the `dir_source_main_scripts`.
The bootstrapping part is already covered (IMHO) by [pyb-init](https://github.com/mriehl/pyb_init).

So you could run `pyb-init` local in your fresh clone. Afterwards you'd be able to source the virtualenv and use `pyb-run`.

Wha

[2015-05-02 10:51] mriehl commented on #130
On a side note I don't think that pybuilder should "own" the created virtualenv (eG having to go through pybuilder to use it). There's just so much 3rd party stuff that plays nice with a user-managed virtualenv (eg vim+jedi, virtualenvwrapper, zsh, ..)

[2015-05-02 11:58] pahaz opened #133 "Master build fail!"
https://travis-ci.org/pybuilder/pybuilder is this normal?

[2015-05-02 12:17] locolupo commented on #133
hi,

yes this is normal because you broke the tests ;)

just change the test template in distutils_plugin_tests.py (it begins in line 345)

you can run the tests locally with the following command ```./build.py -X -v```

[2015-05-02 14:39] #133 closed

[2015-05-11 10:05] mriehl commented on #131
Closing since there's a solution and no feedback. If someone feels like this should be autodetected, feel free to reopen.

[2015-05-11 10:05] #131 closed

[2015-05-11 14:01] mriehl commented on #126
@esc I think I remember you being a strong proponent of tox + pybuilder, any thoughts?

[2015-05-11 14:20] esc commented on #126
I did have that idea some time ago, but it seemed to tricky to do properly. IIRC TOX also checks the sanity of your distribution by creating it and then trying to install it. That can help finding errors in your MANIFEST.in file early for example.

One random idea is to approach the problem from the other direction, i.e. get tox to support pybuilder builds? Have you ever thought about it that way?

[2015-05-11 14:21] esc commented on #126
So the tox plugin for pybuilder would call tox, which would then again call pybuilder in each of it's virtualenvs..

[2015-05-11 14:30] mriehl commented on #126
Tox support in PyBuilder would be neat, but

* pybuilder is supposed to instrument all build tools, so making an exception here might be kind of strange. We have to draw the line somewhere OFC, just not sure if tox is that line.
* it seems to me (I don't have knowledge about the whole tox code, just a few glances) that tox is very very very much entangled in setup.py. I wasn't even able to find an

[2015-05-11 14:32] mriehl commented on #126
I'm also interested in what you think as an user.
Would creating a `tox.ini` + some other stuff be acceptable? Would you expect that adding `use_plugin("python.tox")` and `set_property("tox_py_versions", ["py27", "py34"])` to "just work"?

[2015-05-13 07:06] Frankherg commented on #126
actually,i am a freshman

在2015年05月11 22时32分, "Maximilien Riehl"<notifications@github.com>写道:

I'm also interested in what you think as an user.
Would creating a tox.ini + some other stuff be acceptable? Would you expect that adding use_plugin("python.tox") and set_property("tox_py_versions", ["py27", "py34"]) to "just work"?

—
Reply to this email directly or view it on GitHub.

[2015-05-20 12:07] arcivanov commented on #126
The flake8 plugin also calls remote tooling, i.e. the approach makes sense.

[2015-05-21 10:12] turtledoveadmin commented on #126
How or what am I even doin I don't even know what or how to do with change logs

[2015-05-23 05:18] j-walker23 opened #134 "pyfix with coverage run tests twice"
I saw this fixed in a release version but i just installed everything brand new for the first time. All 100% up to date.

pybuilder is really cool btw, just started but i love it.

This is my output

→ pyb
PyBuilder version 0.10.59
Build started at 2015-05-22 23:17:40
------------------------------------------------------------
[INFO]  Building hello-example version 0.1.0
[INFO]  Executing build i

[2015-05-23 10:41] mriehl commented on #134
Hi,

Thanks for taking the time to open an issue and for your feedback.
This behaviour is actually intended, we want to run the coverage tracer only if the unit tests are successful. This stems from the fact that we have different build lifecycles, and you might want to run tests (`pyb run_unit_tests`) but not analysis tools like coverage or flake8) so these goals need to be independent from each

[2015-05-24 04:49] j-walker23 commented on #134
Thanks for the reply. Nope, not a problem. First i thought i had bad
configuration and couldn't figure it out. Then i cloned the flask-example
and it ran the tests twice as well.

That is why i thought maybe it was a new bug. As long as i don't have
something broken on my side then it is all good. Thank you

On Sat, May 23, 2015 at 4:41 AM, Maximilien Riehl <notifications@github.com>
wrote:

[2015-05-27 07:39] #134 closed

[2015-05-27 18:45] j-walker23 opened #135 "pip - option to install in project root"
Hey,

Trying to use this with AppEngine and i need some sandboxed installs in root to deploy with.

I can do `pip install -t "mylibs" pydash`, but i really want pybuilder to manage everything. I tried looking through your tests but i can't seem to find out how to do this.

Any tips?

[2015-05-27 21:24] mriehl commented on #135
Hmm, wasn't familiar with the -t option but I did some reading. Would you want this for _all_ pip dependencies or do you need to be able to set it for some dependencies specifically?

[2015-05-27 21:29] mriehl commented on #135
To answer your question, I guess you could use a requirements.txt file and switch to `project.depends_on_requirements('requirements.txt')`. Since you can stick pip arguments in there it would work. Wouldn't recomment this though since you lose other benefits (like build/runtime separation).
Adding the feature would simply be a matter of deciding how it's used (install all dependencies into the roo

[2015-05-27 21:50] j-walker23 commented on #135
Thanks man. Damn you are fast. I am glad i chose this for my first experience with a build system in python.

It would be a subset for sure. I was thinking i would only use the runtime dependencies somehow as my list that is sandboxed.

What do you think about that?

[2015-05-28 05:56] mriehl commented on #135
Makes sense! I was also wondering if the local install should be additional (eg install in virtualenv *and* install in target directory). Or maybe you are already adding the directory to your PYTHONPATH?

The plain pip install has the advantage that after running it you can import the new module without problems.

Safest bet would be doing both, but OTOH I don't think having two installs (possibly

[2015-05-28 15:08] Vinnie1986 commented on #13
I am also using pytest with pybuild. when I build pybuilder fails to import my source code when going through my tests.
i get for each module something like:
←[1m[INFO] ←[0;0m  ERROR collecting src/tests/unittest/python/data_merger/controller/comparator_autom_params_test.py
←[1m[INFO] ←[0;0m src\tests\unittest\python\data_merger\controller\comparator_autom_params_test.py:6: in <module>
←[1m[INFO]

[2015-05-28 15:28] mriehl commented on #13
Hi,

@Vinnie1986 This looks like the PYTHONPATH environment variable is not set in the subprocess environment (my guess would be that on windows this is not automatic).

Can you inspect what the value of `sys.path` is when your tests run? (you will need to `import sys`.
Most probably we will need to pass the environment explicitly which is an easy fix. Just want to be sure this is indeed the probl

[2015-05-28 22:16] j-walker23 commented on #135
Awesome, thanks man. I'll explain the use case first.

I do most of my webapps on Google App Engine. This is because i don't have to manage any type of data source. Plus i get offline processing, memcache and the best auto scaling known to man.

App Engine is a 100% sandboxed system. It does offer a small set of [3rd party libs ](https://cloud.google.com/appengine/docs/python/tools/libraries27) in

[2015-05-29 07:31] mriehl commented on #135
Hi,

Thanks for taking the time to write this, it really helps me understand how the feature should look like.
I'll also be sure to give App Engine a try ;-)
I'll start working on it today - no promises, but I think it will be very easy to implement.

As for your coverage question:

* The pybuilder coverage plugin generates coverage data, so you can run `coverage html` in your project root. This w

[2015-05-29 09:29] mriehl commented on #135
Feature is available in `pybuilder==0.10.60`.

You can set the property `install_dependencies_local_mapping` to a dictionary that maps dependency names to target directories.
For example, your use case of bundling runtime dependencies into a folder called `lib`:

[code]
Please note the dict comprehension requires python 2.7 or higher, on previous versions you would have to use a tuple comprehensio

[2015-05-29 20:35] j-walker23 commented on #135
That is amazing, i am going to try it out now. Thank man, really appreciated.

On the coverage thing, if i wanted the coverage thing to integrate would you just write a task/plugin to run the html command and stick it in the reports folder? I use to use istanbul on my client code and it was pretty cool, so i wondered if there was a python version.

[2015-05-29 20:43] j-walker23 commented on #135
Worked absolutely perfect. Thanks again, this has been a great experience.

I did see a task about new documentation. Is that something still going down? I think that will help alot, i have noticed there is a lot more features/abilities then just the docs show.

[2015-05-29 23:04] #135 closed

[2015-05-30 01:54] j-walker23 opened #136 "pytddmon with pyfix tests"
Hey,

Should pytddmon be able to work with the pyfix @test guys? pyfix will run my n/n tests. pytddmon also says zero/zero while its running. But it is watching the correct files. When i save one for make an error it sees that in real time.

Is there any properties i need to set?

[2015-05-30 06:00] mriehl commented on #135
Yeah, exactly. You can write a task that depends on `analyze` and uses the coverage API (or runs `coverage html` as a subprocess) to generate the HTML. This is also something we could add in the coverage plugin (would be even better there actually, and should be like one line of code. I'll look into adding support for it).

Absolutely. Progress has been slow though, I think I need to pull myself t

[2015-05-30 06:10] mriehl commented on #136
From a quick look at the pytddmon sources, it's using `unittest.TestLoader()` for test discovery, so this means it is only compatible with unit tests based on the stdlib's `unittest` framework.

The best course of action is probably decoupling how pytddmon runs tests from the visualization, it could parse the unittest JSON report generated by pybuilder for example in order to be truly independent

[2015-05-31 02:43] j-walker23 commented on #136
Ahh, i see. Thanks man. I am liking the pyfix tests so do you have any suggestions on any real time test guy i could use with my setup?

[2015-05-31 02:43] #136 closed

[2015-05-31 02:48] j-walker23 commented on #135
On the coverage stuff, before i saw this i added my first plugin with a task that depended on analyze. All worked really well and was easy once i figured everything out. Going through the pybuilder src and being able to look at all of the src + tests is really nice. Thanks for making that code base clean and easy to read.

On the documentation stuff. I thought i saw somewhere you saying you don't

[2015-05-31 18:21] Vinnie1986 commented on #13
@mriehl Thanks for you quick reply. This was idd the issue, I have added the full path of "src\main\python\data_merger" to my pythonpath and the tests run fine now.

[2015-06-01 15:50] #13 closed

[2015-06-01 15:53] mriehl commented on #136
You could give [entr](http://entrproject.org/) a try. It's an inotify wrapper with a recursive mode. Only for OSX and Linux/FreeBSD though.

[2015-06-07 16:43] j-walker23 commented on #136
I have converted from windows and don't plan on going back unless i am forced so that is perfect lol. Thank you!

[2015-06-08 03:55] mriehl commented on #136
Congratulations! Hope you won't regret it ;-)

Tightening the integration with pytddmon (optionally of course) is definitely something I want to do.. Maybe for other things as well. I really like the minimal cross-plattform UI.

[2015-06-08 06:38] j-walker23 commented on #136
That would be really cool. I love this build tool, you guys made it so practically anything can be built on top.

Quick question, what is the current directory when running unittests? I was trying to setup `pylint` for the first time and it said you can add a `--rcfile`. And that is also checks the current directory. I could never get it to load anywhere within the project, only in `~/`. That part

[2015-06-15 05:01] SzeMengTan opened #138 "Problem with handling glob expressions in Windows (e.g. for use with filter_resources_glob)"
In the class GlobExpression in pybuilder/utils.py, a regex is constructed from a glob expression using

self.regex = "^" + expression.replace("**", ".+").replace("*", "[^/]*") + "$"

This assumes that the path separator is "/", and furthermore, if the expression contains the Windows path separator "\", this is incorrectly interpreted as the literal escape character when used in a regular expressio

[2015-06-15 09:47] mriehl commented on #138
Hi,

Thanks for taking the time to report this and for proposing a solution. I think we should go with your proposition since windows translates slashes as long as it's not a root slash.

[2015-06-15 12:22] esc commented on #126
I saw this today:

[code]

[2015-06-15 15:14] mriehl commented on #126
@esc I think I tried that too but it was actually impossible to run tox without it trying to use a setup.py. Did this change??

[2015-06-15 15:30] esc commented on #126
Sorry, I saw that on the 'master' of a project. As it turns out, this ``tox.ini`` was a leftover. Someone had commited a ``setup.py`` and a ``tox.ini``. Later on, the ``setup.py`` was removed again but the ``tox.ini`` remained. I simply assumed that it would work :TM: but alas..

[2015-06-15 15:32] esc commented on #126
So, yeah, sorry for the noise, it still seems like tox needs a ``setup.py``...

What are your thoughts on running tox from pybuilder in the ``dist```directory with the autogenerated ``setup.py``?

[2015-06-15 15:45] mriehl commented on #126
Implementing the above (but in pybuilder) is exactly what I'd have in mind though. Seems difficult to do without making substantial changes to tox

[2015-06-15 15:51] mriehl commented on #126
@esc running tox from the dist directory is basically a deep rabbit hole.
Right now the setup py only builds the project, we would need it to also run tests, report coverage, ...

Basically this would require us to implement pybuilder in setup.py terms.
So I currently think it's better to run pybuilder in all those envs, so you get the full build no matter what is used underneath.

[2015-06-16 06:46] esc commented on #126
One idea is to write (or autogenerate) a fake setup.py that proxies commands towards pybuilder. It would of course be one big hack. The main problem with tox that I can see, is that the assumption that your project is built with 'setup.py' is so deeply engrained that it will be hard to drop...

[2015-06-16 06:49] esc commented on #126
FWIW: not having multi-python testing support is a real timebomb when one lives in a redhat dungeon with Python 2.6..

[2015-06-16 07:29] mriehl commented on #126
I know.. also when you want to support 2.6 or 3.4 but develop on 2.7, basically you have to wait for travis after every commit and then patch up...

I see, your idea is that `setup.py develop` or whatever tox does to setup.py should call pybuilder?
Maybe it's also possible to have a setup.py that does **nothing** and then just use the `commands` from your `tox.ini` above?!

[2015-06-16 07:33] arcivanov commented on #126
Sounds like a good idea to me.

[2015-06-29 21:29] ljohnston commented on #39
After @mriehl made the following comment early on in this thread, the points made got overtaken by the larger discussion.

I think this is a defect of the plugin and it should use pip.get_installed_distributions() to determine if it needs to install dependencies (considering install_dependencies_upgrade of course).

I believe the above highlights some real issues with the install_dependencies plug

[2015-06-30 06:09] mriehl commented on #39
The problem with the maven / ivy analogy is that these tools deal with downloading packages themselves.
PyBuilder just uses pip, which doesn't even have an official API.

The decision whether installing the dependency is a no-op or not is actually hard because it depends on several factors (is the package installed? Are we installing to a specific location and is it there? Do we want a specific ve

[2015-07-08 11:15] snordhausen opened #141 "Version 0.10.62 leaves target/reports/unittest empty"
In version 0.10.61, pybuilder writes a summary of the unit tests to the file "target/reports/unittest". Since version 0.10.62, this files remains empty, even when test cases are failing.

[2015-07-08 15:00] mriehl commented on #141
Yes, good catch. This was introduced by a recent pull request but I already have a fix locally.

[2015-07-08 15:17] mriehl commented on #141
Fixed in `0.10.63`

[2015-07-08 15:23] mriehl commented on #141
Sorry, GitHub closes the issue automatically. Can you have a look if it's resolve and then close, since you're the reporter?

[2015-07-08 15:26] snordhausen commented on #141
Works fine with 0.10.63, thanks for the quick fix.

[2015-07-08 15:26] #141 closed

[2015-07-13 14:11] locolupo opened #142 "duplicates in pybuilder task description"
[code]
[code]

as you can see, the task decription is a bit confusing because of the dublicates.

i will provide a Pull Request

[2015-07-13 14:16] locolupo opened #144 "leading whitespaces in task description"
Just a small cosmetic issue with the task description:
there are leading whitespaces in task description
![Uploading Screen Shot 2015-07-13 at 16.13.27.png…]()

i will provide a pull request

[2015-07-23 05:18] arcivanov opened #146 "Forked coverage doesn't fail main build"
When coverage_fork is set to True and coverage thresholds are violated the build does not fail.

[2015-07-23 05:27] arcivanov opened #147 "Make unittest and coverage library functions"
It is useful to be able to call unittest and coverage functionality repeatedly from custom plugins with different configurations.

The default functionality is maintained but code is modified to allow custom configuration, variable group names and running unit tests in a fork.

[2015-07-23 20:27] arcivanov commented on #147
In Maven, which pybuilder seems to attempt to simulate there is an ability to create several ["executions"](https://maven.apache.org/guides/mini/guide-configuring-plugins.html#Using_the_executions_Tag) of the same plugin with different configurations that would allow running unit tests or integration tests or packaging with varying parameters in the build cycle.

If unit tests can be run multiple

[2015-07-25 07:32] arcivanov opened #149 "Make shortest plan task execution possible"
1. Coverage plugin executes coverage by calling `reactor.execute_task(target_task)`.

2. `execute_task` does not take into account dependency tasks that have already been executed before them and essentially reruns the entire build procedure before it. This is unnecessary and overall undesirable.

This patch introduces `reactor.execute_task_shortest_plan` that keeps track of tasks that have alread

[2015-07-25 08:31] arcivanov opened #150 "Disable module reimport during coverage to avoid dependency problems"
The above behavior can be observed here:

https://github.com/pybuilder/pybuilder/blob/master/src/main/python/pybuilder/plugins/python/coverage_plugin.py#L53

The problem is, library such as SQLAlchemy do not take kindly to class redefinition and reloading modules results in:

Therefore the module reload, when enabled, should be performed at the start before tests actually run.

[2015-07-25 09:47] mriehl commented on #150
Yes this makes much more sense, I don't know what the original intent was but as far as I'm concerned there's only value in reloading *before* measuring, not after.

[2015-07-25 09:56] arcivanov commented on #150
except the pybuilder's own coverage fails completely with module reload right after the coverage started. investigating

[2015-07-25 09:57] arcivanov commented on #150
[code]

[2015-07-25 10:01] arcivanov opened #151 "Forked processes should pass back exception"
Unless a process fails critically and abruptly (SIGKILL), the exception thrown inside a forked process (such as in coverage plugin) should be passed back to the spawning parent and rethrown to appear in build tracebacks with a full stack, rather than relying on a generic ("processes exited with an error code").

[2015-07-25 10:41] #146 closed

[2015-07-25 10:41] #147 closed

[2015-07-25 10:41] #149 closed

[2015-07-25 10:51] mriehl commented on #151
I think this behaviour is desirable but would hide it by default behind the -X (debug) switch.
There are a lot of other cases where PyBuilder only reports there was a failure and -v yields more information (log or output) while -X adds the stack trace on top.

IMHO running a python application should not show a stacktrace by default but provide the possibility to get one.

[2015-07-25 10:54] mriehl commented on #150
Looks like a problem with inheritance, maybe some other module overrides the supertype definition?

[2015-07-25 10:59] mriehl commented on #150
I think the issue is that we reload modules in some order, but if A uses symbol from B then we must reload B before reloading A or A will still reference the "old" symbols.
This is probably the problem here, the `MissingPropertyException` is a subtype of the old `PyBuilderException` type and thus we get this crash.
I don't know if there is a good way to reload N modules while also considering thei

[2015-07-26 07:12] arcivanov commented on #150
I think reloading modules could be avoided if PyBuilder parent process never loads the modules in the first place. The reload is only necessary if you have run unittest and then need to rerun it. But if both unittest and coverage always run in their own forks, they'll both load the modules in isolation as if for the first time. So I would vote for:

- [ ] Deprecating and ignoring fork settings
- [

[2015-07-26 07:17] arcivanov commented on #151
Let me expand on it further. Right now forked processes can only signal error exit with exit code. If a fork throws BuildFailedException that exception will most likely appear as traceback disregarding -X or -v options, and the spawning process, at best, can detected that the fork exited abnormally.

What should happen is that the parent receives the exception from the fork and either wraps it in

[2015-07-27 05:34] mriehl commented on #151
I see, thanks for clarifying. We should definitely do this - can you provide an example where a subprocess does not correctly provide a stacktrace? I'll try to find some timebto have a look. Also I think we should put together a best practice page on the new documentation, will open a separate issue for that.

[2015-07-27 05:37] mriehl opened #152 "Best practices for pybuilder development and other docs input"
@locolupo @arcivanov and others: I have been delaying for a while but I think I can scratch some time together to get the new sphinx docs into an usable state. Feel free to add any input you have or topics you would want to see here and I'll try to tend to it.

[2015-07-27 06:10] mriehl commented on #151
Also maybe we should not rethrow the actual exception but rather add a `cause' field to the `BuildFailedException`. I still see value in a common supertype for exceptions that fail the build.

[2015-07-27 06:25] arcivanov commented on #151
I'm about to PR the fix with correct tracebacks

[2015-07-27 06:43] arcivanov commented on #152
As far as development standards, (or architecture, to be precise), one of the things I would highly recommend is for all build tasks to be performed in forks. Polluting pyb process with built code imports provides a non-isolated environment for the plugin execution down the execution plan.

[2015-07-27 11:40] arcivanov commented on #151
Ok, so here's the skinny - the code simply passes forked process exception through. The reasoning behind this is as follows: we should behave as if the function executed was not forked. If the fork throws `BuildFailedException` - awesome. If the fork throws something else it's the problem of the forked function rather than of the `fork_process` utility.

[2015-07-28 03:10] arcivanov opened #154 "Allow installing pybuilder with VCS pip install"
1. Add "install" task
2. Add setup.py at the root making it call pyb install to simulate "setup.py install"

[2015-07-29 02:07] arcivanov opened #156 "Great coverage disparity while building PyB"
The experiment is conducted using #154 and is the reason why #151 and #150 are not yet closed and #153 is not merged.

1. Consider an empty VENV.
2. Build PyB with `./build.py clean install`
3. Build PyB with `pyb clean publish`

Observe, that the coverage reports differ dramatically.

Note, that because #154 is branched off of `master` and not #153, the long-standing module reloading mechanism be

[2015-07-29 03:33] arcivanov commented on #156
One possible solution is to use https://ipython.org/ipython-doc/dev/api/generated/IPython.lib.deepreload.html#module-IPython.lib.deepreload

[2015-07-29 04:33] #154 closed

[2015-07-29 08:05] arcivanov commented on #156
This is straight from the PyB 74b02fb

[code]

[2015-07-29 08:23] mriehl commented on #156
Nice catch! I'm not entirely sure why this is happening. Is it possible due to having PyBuilder both in the site-packages and in the pythonpath at the same time coverage gets confused?
e.G. is it only a problem when building PyBuilder, or are other projects affected as well?

[2015-07-29 08:28] arcivanov commented on #156
I noticed the discrepancy in our internal ones. So I'm thinking a couple of things:

1. With respect to PyB, when we build with `pyb` vs `./build.py` the modules are already imported, potentially all of them even with a unittest being forked when we initialize coverage.

2. With respect to our code, I still have to verify. I hope this is just an abberation of PyB building itself, but these results

[2015-07-29 08:49] arcivanov commented on #156
@mriehl

I disagree with the following assertion:
[code]

I believe this is a functional bug. If module is not imported, it has not been covered. If it has not been covered the coverage for modules, branches, classes, functions and lines is 0%. It's not that coverage ignored it, it's that the code wasn't covered by the test because the test didn't import it.

Agreed?

[2015-07-29 10:19] arcivanov commented on #156
Started removing modules before executing tests. Still a discrepancy, but a much smaller one.

[code]

[2015-07-29 13:50] mriehl commented on #156
@arcivanov Yes agreed. If the module is not imported then it's simply not covered by tests. There should be no difference in treatment between modules imported but not tested and modules not imported.

[2015-07-30 07:19] arcivanov opened #157 "Make sure pyb install upgrades by default"
There should be a way to control whether `pyb install` upgrades the installed package by default.

[2015-07-30 07:25] locolupo commented on #157
afaik there is a way:
https://github.com/pybuilder/pybuilder/blob/master/src/main/python/pybuilder/plugins/python/install_dependencies_plugin.py

you can configure it via ``` project.set_property_if_unset("install_dependencies_upgrade", False)```

[2015-07-30 07:28] arcivanov commented on #157
Good point! But this is for dependencies only. For `pyb install` we're actually invoking `setup.py install` and at a difference phase and cycle. This setting also sits in a different plugin (dependencies vs distutils), so I'm not sure it's quite appropriate.

[2015-07-30 07:36] arcivanov commented on #157
[code]

Actually this is already the desired behavior. Closing.

[2015-07-30 07:37] arcivanov commented on #157
resolves #157

[2015-07-30 07:37] #157 closed

[2015-07-30 07:44] mriehl commented on #157
Agreed - installing something locally should always supplant the current installation it any. I think pip doesn't do this by default so if you install a tarball you have to cycle uninstall/install

[2015-07-30 07:58] arcivanov commented on #156
The solution:

1. Enumerate all essential system modules.
2. Delete all loaded modules that are not system or essential. No reload except by code itself.
3. Reimport own package.
4. Start tests.
5. Fork process dies after completing test and analysis, the core `pyb` is unaffected.

Running `./build.py publish` and `pyb` will produce slight disparity in coverage since some classes and objects are c

[2015-07-30 08:05] arcivanov commented on #156
Example coverage disparity

https://gist.github.com/arcivanov/70dc64204eaf329ed125

[2015-07-30 08:06] arcivanov commented on #156
@mriehl ready for final review

[2015-07-30 09:38] arcivanov opened #158 "VCS pip install missing dependencies from setup.py"
When installing into fresh environment PyB dependencies must be installed when setup through setup.py

[2015-07-30 10:04] #158 closed

[2015-07-30 13:25] arcivanov commented on #156
Apparently something doesn't work on Linux, investigating

[2015-07-30 18:30] arcivanov commented on #156
The problem on Linux with "module.so" has been fixed

[2015-07-31 12:15] arcivanov opened #160 "More coverage echancements"
1. ~~Stop producing coverage file at project root, move it to target/reports.~~
2. Generate HTML coverage reports automatically.
3. Include branches coverage.

[2015-07-31 12:18] arcivanov commented on #65
This can actually be accomplished now with `unittest_runner` (or `<prefix>_runner`)

[code]

[2015-07-31 12:20] arcivanov commented on #65
See #147

[2015-08-02 02:24] arcivanov commented on #160
Actually .coverage has to be produced at root for coveralls. :sad:

[2015-08-02 15:25] #150 closed

[2015-08-02 15:25] #151 closed

[2015-08-02 15:25] #156 closed

[2015-08-02 15:25] #160 closed

[2015-08-03 05:31] mriehl opened #161 "Release v0.11.0"
I think we should get a new release out - the improvements by @arcivanov are too sweet to pass on (xml reports are a boon for jenkins users) and there are a couple of bug fixes too.

I also think we should go for 0.11.0 since there are some deprecated properties and coverage might be affected if some task was using library functions from the covered project.

@locolupo @arcivanov what do you think

[2015-08-03 05:37] arcivanov commented on #28
@mriehl

This is resolved by #160 (https://github.com/pybuilder/pybuilder/pull/153/files#diff-62a96813032655a36d7cf13b53e2cea5R92)

Still no branch coverage in JSON output, not sure if it's necessary though.

[2015-08-03 05:43] arcivanov commented on #161
@mriehl

XML reports are possible, as I mentioned in #65 with code example, but aren't a default.  If we want xUnit for all unit tests by default we'd need to put some more work in to preserve backward compatibility AND generate xUnit.

Furthermore, in re branch coverage, I updated #28, which seems to be fixed in #160.

Otherwise, I'm :+1:

[2015-08-03 07:40] locolupo commented on #161
:+1: for the new release

I'm off for some weeks (vacation in :fr: ) thats why i can't support you guys

[2015-08-05 15:38] arcivanov commented on #161
@mriehl just want to bump this:

- [ ] Do we want to make XML reports default?
- [ ] Do we want to preserve the current output behavior (JSON? Text?) **in addition** to XML reports?

[2015-08-06 12:55] mriehl commented on #161
So,

* I think we should totally strive to make XML reports a default.
  I don't think we should do this *yet* though - there's still a rough edge with the currently proposed snippet to use the XMLRunner where it's not accepting a `stream` kwarg so the output from the forked process goes straight to stdout/stderr.
The currently default text runner accepts `stream` and redirects the output into a S

[2015-08-06 17:14] arcivanov commented on #161
This can definitely be fixed by passing kwarg to a `runner_generator` and XMLRunner, I believe, has output stream parameters in the constructor. I'll create a ticket.

[2015-08-06 17:22] arcivanov opened #162 "Improve unit test runner generation"
As mentioned in #161 by @mriehl unit test runner generation output should be improved:

  I don't think we should do this *yet* though - there's still a rough edge with the currently proposed snippet to use the XMLRunner where it's not accepting a `stream` kwarg so the output from the forked process goes straight to stdout/stderr.
The currently default text runner accepts `stream` and redirects th

[2015-08-11 21:55] arcivanov opened #165 "Add ability to combine coverage reports"
Coverage plugin should have a function to provide combined coverage reports

[2015-08-13 03:57] mriehl commented on #165
Combined like in several calls to different executions but in the same coverage report file? eG are we talking about appending or combining (average of branch & statement coverage for instance)

[2015-08-21 15:09] mriehl commented on #162
Works with
[code]

and 6dcb1edc3d39d577f6bf1c97dacbbd740e4dee6e

@arcivanov what do you think? It's not exactly pretty (dealing with a tuple element or single item in a transparent way is hell), but it deals with all corner cases I think.

[2015-08-21 17:16] arcivanov commented on #162
We could also simply pass a `stream` to `runner_generator`, no?

[2015-08-21 17:35] mriehl commented on #162
Yes, but this would not create a report file with the output.

[2015-08-21 20:13] arcivanov commented on #162
@mriehl take a look at 6047e3f.

why is there a need for a partial if configuring user can always specify a one-argument lambda if the constructor doesn't take a stream as a first arg?

[2015-08-23 06:48] #162 closed

[2015-08-23 06:50] mriehl commented on #162
@arcivanov I see what you mean now. Actually I was trying to make `unittest_runner` still work if simply assigned an arbitrary `TextTestRunner` like class (thus the inspect trickery).
But you're right that we can simply get rid of partial and make the filelike stream part of the `unittest_runner` interface.

[2015-08-26 15:48] snordhausen opened #168 "Eggs/Wheels have broken shebangs"
For distribution on Pypi, I wanted to create both Eggs and Wheels with

[code]

The project includes a script in *src/main/scripts* with a shebang of *#!/usr/bin/env python*. In the "sdist", this shebang remains intact and it works fine when installed from Pypi.

In the Egg and the Wheel, there is a modified shebang that points to the Python interpreter in the virtual environment that I use for bu

[2015-08-26 17:07] mriehl commented on #168
Hi, thanks for opening an issue. I actually already ran into the same problem, investigated, and decided that I will not use wheels for the time being.

In my opinion this is a bug in distutils. The PEP recommends to write `#!python` in your shebang which I think is stupid beyond belief since the script will not run unless you use some magic installer like pip which replaces the shebang.
Note that

[2015-08-26 17:12] mriehl commented on #168
Sorry for the rant... but what do you think? Did you know about the `#!python` part? (do you still want to use wheels? :-P). Maybe using `#!python` would be a possibility.. honestly I really like the simplicity of a tarball so apart from huge projects like numpy I never bother with wheels.

Also I'm not able to find documentation on `executable`.. what does it do? Does it always replace the sheban

[2015-08-31 21:32] arcivanov opened #169 "Add teardown actions and stable action order"
There is a need to cleanup around tasks. For example there has to be a way to start a server, run integration tests and stop the server if a failure occurs. Not being able to stop a server leaves processes hanging around, requires a cleanup and makes it very hard to debug failures.

Therefore:

1. Add an attribute to `@after`, called `teardown`. The attribute is `False` by default.
    * If an exc

[2015-09-02 09:33] obestwalter commented on #126
@mriehl

I would recommend pyenv for that. Compiles and installs tons of python version in userspave and makes navigating them quite easy.

https://github.com/yyuu/pyenv

[2015-09-02 12:34] mriehl commented on #126
Will have a look, thanks!

[2015-09-04 01:56] arcivanov opened #171 "Allow to exclude/skip tasks from command-line"
Why this is needed:

1. Reasons :smile:
2. Currently `setup.py` proxying to `./build.py install` cannot do simple package/install and runs all compliance and other tests.  This takes forever when doing `pip install git+git`. There should be a way to disable everything without compromising the consistency of the build.

For example, `install` depends on `package` as a requirement, `package` depends

[2015-09-04 01:59] arcivanov opened #172 "Allow to set project properties from command-line"
Why this is needed:

1. Automation

How:

1. Command line properties are specified via `-P name=value` via `-P name+=value`
2. Command line properties are overlayed with project properties and take precedence over those set in `build.py`

@mriehl, thoughts?

[2015-09-04 03:58] arcivanov opened #173 "Final unittest_runner cleanup"
Finalizing lambda API.

1. Should **kwargs be used in addition to declared properties to allow for further customization?
2. Should ONLY **kwargs be used?
3. Default to xmlrunner

@mriehl, thoughts?

[2015-09-04 04:08] arcivanov opened #174 "xmlrunner should capture stdout/err"
JUNIT xml format allows capturing process output into stdout/stderr sections of XML for later processing by the reporting software.

It's extremely helpful knowing sometimes what the output of the test was.

[2015-09-04 05:49] mriehl commented on #171
Sounds good. Things that could be optional are all the QA plugins I guess.

Also like the proposed command line switches.

[2015-09-04 05:51] mriehl commented on #172
This is already kind of possible (but not the += thing, which might be kind of hard to parse?).

The problem with the existing switch is you can basically only override with strings, not booleans, numbers or even lists.

[2015-09-04 05:52] mriehl commented on #171
Maybe another way to look at it would be blacklisting plugins when starting. Like `pyb -x python.unittest_plugin`. Much easier to implement and builds on the consistency we already have.

[2015-09-04 05:54] mriehl commented on #172
Also, care to expand on "automation"? Currently you can add an "environment" which runs custom initializers which is kind of what's required to have reproducible automation.

[2015-09-04 05:56] mriehl commented on #173
+1 for defaulting. I think we can safely pass `**kwargs` (and only those) since due to naming they are explicit.

[2015-09-04 05:59] mriehl commented on #174
Oh yes, this would be really sweet. But we would also need to keep the regular text output.

But this is something that should be added to xmlrunner, right?

[2015-09-04 13:02] arcivanov commented on #174
It already has provisions to do that. We need to hook up stdout/err to it appropriately around tests.

[2015-09-04 13:04] arcivanov commented on #172
How is it possible right now?

[2015-09-04 13:05] arcivanov commented on #172
Basically, lets say I need to override the behavior of a build script by tuning property values from Jenkins. How would I do that without modifying `build.py`?

[2015-09-04 13:06] arcivanov commented on #172
Another example:

* I have 1 million tests
* I need to split them into the 1000 machines (1000 tests per machine)
* I need to be able to override a filter in unittests and integrationtests for each machine only to take a unique thousand.

[2015-09-04 13:09] arcivanov commented on #171
Blacklisting specific plugins is another feature, I think. For custom plugins that provide multiple tasks or add before/after actions, you may want to keep some and get rid of the other.

[2015-09-04 15:29] mriehl commented on #172
possible right now with

`-P myproperty=mystringvalue`

But no appending and only strings..

[2015-09-04 15:32] mriehl commented on #172
For jenkins I would add an `@init(environments="jenkins")` and build with `pyb -E jenkins`.

I know this modifies the build.py but it has the advantage that there is no build logic in the jenkins config.

Anyways, having both possibilities open is certainly better.

[2015-09-04 15:33] mriehl commented on #172
The test example makes sense.. would be overkill to partition the tests usinh initializers..

[2015-09-04 15:35] mriehl commented on #171
I agree with you. I would also add a --x-force though (so users can force exclude tasks at their own risk).

[2015-09-05 04:51] arcivanov commented on #172
@mriehl

You're absolutely right, I missed -P feature, duh! ;)

We might want to augment this to something like `-P property:="string"` and `-P property:=True` and `-P property:=1235` to allow type-specific setting and += and as concatenation for strings and iterables. But this would be another ticket.

Environment, I think, is a counter-pattern. Anticipating any build eventuality in build.py conf

[2015-09-05 04:51] #172 closed

[2015-09-05 05:10] arcivanov commented on #171
Interesting. But how would `--x-force` behave in your mind?

Let's say `X` depends on `B` depends on `A`. I force-exclude `B`, is a transitive dependency on `A` preserved?

[2015-09-07 06:35] mriehl commented on #171
Tough call... respecting the transitive dependencies would be more of a best effort thing (eG really just skip this *exact* task) but OTOH avoiding to resolve it's dependencies is simpler and more likely to succeed. I like the approach in #175

[2015-09-07 06:51] #169 closed

[2015-09-07 12:21] #171 closed

[2015-09-07 12:22] mriehl commented on #171
Thanks! Do you want to release a new version? I think we should get all these improvements out to the users, we can always do a later release with more features.

[2015-09-07 13:21] arcivanov commented on #171
I want to knock down the final cleanup as well before we release, #173

[2015-09-08 06:24] arcivanov opened #177 "Kill support for Python 3.2"
Related to #173

[2015-09-08 06:30] arcivanov commented on #177
@mriehl, ok to merge?

[2015-09-08 11:33] #177 closed

[2015-09-08 11:43] #173 closed

[2015-09-08 11:44] arcivanov commented on #161
@mriehl Ready for release when you are.

[2015-09-08 15:48] mriehl commented on #161
Ready! How do you want to proceed?

Essentially we just need

* version bump
* pypi upload
* release notes

[2015-09-08 17:05] arcivanov commented on #161
Ready, want me to do it or you'll do it?

[2015-09-08 17:08] mriehl commented on #161
Would be great if you want to. This way I'm not the "sole releaser". I can write the release notes if you want.

[2015-09-08 17:14] arcivanov commented on #161
Please do, I'll do the version bump and pypi upload.

[2015-09-08 17:24] mriehl commented on #161
`0.11.0`? There are a few changes to behaviour and we dropped 3.2 support-

[2015-09-08 17:27] arcivanov commented on #161
`0.11.0` sounds good, yes.

[2015-09-08 17:33] locolupo commented on #161
:+1:

[2015-09-08 17:48] mriehl commented on #161
Release notes are ready

[2015-09-08 18:03] arcivanov commented on #161
Release branch created. Do release notes go into branch or it's just the version bump?

[2015-09-08 18:14] mriehl commented on #161
Just the version bump. The release notes are in another repo currently: https://github.com/pybuilder/pybuilder.github.io/pull/10

[2015-09-08 18:15] arcivanov commented on #161
Ah, thanks. Ok, bumping.

[2015-09-08 18:15] #161 closed

[2015-09-08 18:30] arcivanov commented on #161
@mriehl did you ever send me pypi credentials/PrivKeys?

[2015-09-08 18:34] mriehl commented on #161
If your user name on PyPI is arcivanov, you have write permissions on the index, according to PyPI (https://pypi.python.org/pypi/pybuilder/0.10.63).

[2015-09-08 18:44] arcivanov commented on #161
duh! :smile: I forgot you did that, yes thanks.

How do you generally release? Do you use ./setup.py upload? Or manually?

[2015-09-08 19:00] mriehl commented on #161
`setup.py sdist upload` works like a charm!

[2015-09-08 19:31] arcivanov commented on #161
Yeah, finally, had to fight credentials

[2015-09-08 19:32] arcivanov opened #180 "Release 0.11.0 claims to support 3.2"
Related to #161

Needs to be removed.

[2015-09-08 22:12] #28 closed

[2015-09-09 01:56] #180 closed

[2015-09-09 02:08] arcivanov opened #182 "Bump version to v0.11.1"
This minor bump updates Python compatibility statement and authorship.
No functional changes.

[2015-09-09 02:16] #182 closed

[2015-09-09 04:17] mriehl commented on #182
Good catch, forgot about the pypi metadata!

[2015-09-09 07:41] arcivanov commented on #174
I confirmed that `xmlrunner` handles this 100%, but what I want is also some magic related to OUT/ERR processing and annotation and cross-routing of streams, so will need to implement some stream magic.

[2015-09-10 09:26] sdomme opened #184 "pybuilder 0.11.x fails under WIndows"
[code]

Tested on Python 2.6, 2.7, 3.4

Last working Version 0.10.63

```pyb_ install_dependencies``` works fine

[2015-09-10 09:28] sdomme opened #185 "pybuilder can't create logfile for install_dependencies under windows"
Normal dependencies can be installed, but not with version number like yamlreader>=3.0.1

[code]

[2015-09-10 10:11] mriehl commented on #185
Right, the file name probably needs cleanup.

[2015-09-10 11:15] #185 closed

[2015-09-10 11:18] mriehl commented on #184
Yes `install_dependencies` doesn't fork, but `run_unit_tests` now does. Seems like a windows-specific issue with pickling because what the code does is totally valid.

[2015-09-10 11:19] mriehl commented on #184
Can you downgrade to `0.10.63`? I'm looking into fixing this.

[2015-09-10 11:29] mriehl commented on #184
The issue might be that `instrumented_target` is not in the top level of the module, but pickle wants to resolve the function's full name on windows somehow.

I **think** currying the `q` queue into the `instrumented_target` closure and then pulling the closure out as a top-level function would solve this, but I don't have a windows machine to test on right now. Will test a fix later today and let

[2015-09-10 11:43] mriehl commented on #184
Also @sdomme if you want you could try out the branch `fix/issue_184`. If you can confirm it works now that would be faster.

[2015-09-10 12:58] arcivanov commented on #184
well, that escalated quickly :wink:

[2015-09-10 13:37] mriehl commented on #184
We managed to solve some of the issue (the branch I pushed helps) but windows has massive issues with multiprocessing combined with pickle. Will continue imvestigating on my own windows machine.

[2015-09-10 14:03] arcivanov commented on #184
:+1:

[2015-09-11 11:42] esc opened #186 "Request 'pyb install' command"
I'd like to have a `pyb install` that does a `pyb package` and then a `python setup.py install` in the generated dist.

[2015-09-11 11:43] esc commented on #186
Maybe a mechanism such as `pyb distutils install` would be good. That would also allow `pyb distutils sdist upload` extension w/o much difficulty.

[2015-09-11 12:46] arcivanov commented on #186
This is [already available](http://pybuilder.github.io/releasenotes/#Version0.11.0), no?
I'm using `pyb install` daily. :smile:

[2015-09-11 12:47] esc commented on #186
[code]

[2015-09-11 12:47] esc commented on #186
Do i need a plugin?

[2015-09-11 12:48] esc commented on #186
Version too old, my bad.

[2015-09-11 12:49] #186 closed

[2015-09-11 12:49] arcivanov commented on #186
Yep, and still need `use_plugin("python.distutils")`.

[2015-09-11 12:53] esc commented on #186
Okay, what about the `sdist upload` bit?

[2015-09-11 12:57] arcivanov commented on #186
I have a custom plugin doing just that, I can add it to the core if you'd like.

[2015-09-11 12:58] esc commented on #186
yeah, or make it available somehow

[2015-09-11 13:27] arcivanov commented on #186
ok, give me a few.
What would you like to be configurable?

[2015-09-11 13:28] arcivanov commented on #186
I'm going to stop polluting this one and will create another.

[2015-09-11 13:34] arcivanov opened #187 "Add upload capability to distutils plugin"
`pyb upload` should allow uploading packaged artifacts to a default or specified repository.

@esc what would you like to upload same artifacts that are packaged? or you want more flexibility?

[2015-09-11 13:38] esc commented on #187
just the happy trail for now, I guess. and thanks!!

[2015-09-11 22:58] esc commented on #165
I'd like to combine reports from the cram plugin and unittest

[2015-09-11 23:00] esc commented on #127
Yeah, some documentation about this would be really good.

[2015-09-12 01:37] arcivanov opened #188 "Allow injecting tasks as dependents"
Currently when you add a `@task` you're limited in flexibility in where you can add it.

Unless the new task follows core plugin graph and extends a particular existing task or is invoked as a top-level task, there is no way to do this:

* Given a graph of B->A and top-level B I want C to be dependent on A and become a dependency of B.

This would allow 3rd party plugins to augment the build graph

[2015-09-12 01:38] arcivanov commented on #188
@mriehl review please

[2015-09-12 01:44] arcivanov commented on #184
:disappointed:

http://stackoverflow.com/a/9671030
So we have to make EVERYTHING pickleable for things to work on Windows.

[2015-09-12 01:49] arcivanov commented on #184
Should we look at whether disabling forking in Windows entirely produces reasonable results, i.e. "if windows detected do no fork"?

[2015-09-12 07:57] mriehl commented on #184
Well that explains it... I have a huge number of changes locally and it still doesn't work. Would have to defer imports like coverage or pickle the module somehow.

I'm not sure but I think it would be ok to not fork on windows (maybe emit a warning). As long as the build and tests work and most CI systems like travis run on linux it means we're doing a best effort.

[2015-09-12 08:02] mriehl commented on #188
Neat idea, bear with me for a few hours. I'll review today.

[2015-09-12 08:31] arcivanov commented on #184
I would agree, and the change would be actually small.

[2015-09-12 09:05] mriehl commented on #188
I'd change the name though, I think `@needed_by('task_a')` is more readable. Very much :+1: on the general idea, this would improve the dependency capabilities for sure.

[2015-09-12 09:06] mriehl commented on #184
Ok, we'll go with this solution then. I'll get it done.

[2015-09-12 09:15] #187 closed

[2015-09-12 09:15] arcivanov commented on #184
:+1:

[2015-09-12 09:18] arcivanov commented on #188
I was thinking of it as:

[code]

I.e. create `depends` / `dependent` cadence.

[2015-09-12 10:33] arcivanov opened #191 "Broken formatter statement in upload plugin"
[code]

[2015-09-12 12:02] #191 closed

[2015-09-12 12:16] arcivanov opened #193 "Fix minor logging inconsistency in upload plugin"

[2015-09-12 12:19] #193 closed

[2015-09-17 07:06] mriehl opened #195 "Automatically upload .dev* releases to pypi as part of the travis CI chain"
As suggested by @esc if our automated tests pass on travis then we can do a pre-release so users can `pip install --pre pybuilder`.

Ideally there is a way to do it only if tests on all python versions passed... I'm not sure if there is though.

[2015-09-17 07:10] esc opened #196 "Allow listing dependencies"
I'd like to be able to install dependencies with other package managers, e.g. `conda` and `curd`. I think the easiest way to build initial support for this would be with a new task:

[code]

That would make it nice and extensible and we don't have to implement options to allow for pip alternatives immediately.

[2015-09-17 07:11] esc commented on #195
Hmmm, if we would be testing with e.g. `tox` there might be a way. :smile:

[2015-09-17 08:27] arcivanov commented on #195
http://docs.travis-ci.com/user/deployment/pypi/

[2015-09-17 08:57] mriehl commented on #196
`pyb list_dependencies`

[2015-09-17 08:57] mriehl commented on #196
I suggest you get the zsh completions because tab would have helped you there ;-)

[2015-09-17 08:59] mriehl commented on #196
What you actually want is:

[code]

The `-Q` gets rid of the output that doesn't interest you, leaving only the dependencies for piping into `xargs`.

[2015-09-17 09:01] mriehl commented on #195
Nice. Just need to add the `VCSRevision` magic to our development version and it's done.

[2015-09-17 11:07] esc commented on #196
Oups... my bad, I didn't even check..

[2015-09-17 11:07] #196 closed

[2015-09-17 11:15] esc commented on #196
Yeah, this works really well, and curdling is *really* fast

[2015-09-17 11:15] esc commented on #196
now I just need to write a dependency resolver for conda and pypi packages

[2015-09-17 11:17] esc commented on #195
Does it support commits since last tag?

[2015-09-17 11:19] mriehl commented on #196
I tried out curdling, too... I'm considering integrating it into the `install_dependencies` plugin.

[2015-09-17 11:25] esc commented on #196
Yeah, and make it selectable. Also is there user-based config for pybuilder, like .pybuilderrc? Because I'd like to configure pybuilder to use curdling on a user-per-user basis.

[2015-09-17 11:28] mriehl commented on #196
Not really. You can specify property overrides on the command line though.
When the feature is there I think you could simply alias `pyb` to `pyb -P install_dependencies_use_curdling=True` or something

[2015-09-17 12:19] esc commented on #195
Does it support commits since last tag?

[2015-09-17 15:39] mriehl commented on #195
No, just total number of commits which should be unique on master. I think it's simple to count from the most recent tag though.. and this would allow users to gauge how much has happened since the last release.

[2015-09-17 15:43] mriehl commented on #196
@esc would an alias work for you or do you still see value in a `~/.pybuilder.yaml` like setting an index, etc.

Personally what I dislike about user specific overrides is that this hurts build reproducibility by a lot. Some project might build only with your config but you'll never notice.

Also would you expect the user-specific config to be applied before or after the project-specific config? B

[2015-09-17 18:41] esc commented on #195
@mriehl I concur.

[code]

But there is probably a better way.

[2015-09-17 18:44] esc commented on #196
in that case, an alias would probably do the trick.

[2015-09-19 08:28] locolupo opened #198 "Pybuilder should be able to check for installed os packages"
## Why?

As i mentioned in my PR https://github.com/pybuilder/pybuilder/pull/190 i’d like to find a way to check for installed system packages.

At the moment we can manage package-dependencies via pip  ```project.build_depends_on(“foo”)``` but we have only an indirect check for installed Software via ```assert_can_execute``` and this is in fact only a check for an executable binary file inside yo

[2015-09-19 09:51] mriehl commented on #198
Some thoughts:

* We should ensure presence of the thing we actually need. So if we want to call a binary (say `pandoc`) then we should simply ensure that the binary is there. It doesn't matter if `pandoc-all.deb` is installed or if the user installed `cabal-install` and then got pandoc through `cabal install pandoc`. Or even if the user downloaded a static binary from somewhere because someone im

[2015-09-19 10:46] locolupo commented on #198
correct, but it is not my intension to remove  ```assert_can_execute```. it is very usefull

but what if (as i wrote) there is no binary? stdeb needs some packages to be installed, and there is no binary file to check for. i just want to resolve this issue

i don't want to overengineer anything. Easy usecase. You write an plugin to build debian packages. https://github.com/pybuilder/pybuilder/pull

[2015-09-19 19:39] arcivanov commented on #198
I'm of an exactly the same opinion - there are too many package managers and some of them allow custom installs (e.g. macports w/ prefixes, Linuxbrew into home directory).

`assert_can_execute` is a simple check whether a utility can be executed in the current environment of the pyb. How that utility is installed is a property of the environment (not even necessarily of a VENV one, but global) and

[2015-09-19 20:56] arcivanov commented on #195
@mriehl is there a more generic way for autogenerating the `.devN` not only for `pyb` but for any project? In Maven `version-SNAPSHOT` where `SNAPSHOT` is replaced with a UTC timestamp combined (or not ) with a commit hash would dramatically improve version refresh reliability, especially when the product needs to self-update in the VENV during e-2-e integration test suite.

We could just add func

[2015-09-19 20:57] arcivanov commented on #195
Some reference docs: https://docs.oracle.com/middleware/1212/core/MAVEN/maven_version.htm#MAVEN401

[2015-09-19 21:04] esc commented on #195
`git describe` can do stuff like that:

[code]

[2015-09-19 23:20] arcivanov commented on #195
While for `pyb` it's certainly an option, if we're talking about general feature relying on `git` or any specific CVS is not possible.

[2015-09-19 23:51] arcivanov commented on #174
This, apparently, work OOB. Closing.

[2015-09-19 23:51] #174 closed

[2015-09-20 00:16] arcivanov opened #199 "Catchup on documentation"
I think we should catch the documentation up on the latest features/behaviors. I need to update the docs to train my team anyway so I'll volunteer for the task (but if anyone wants to help I'm all for it :smile: ).

Could you help enumerate features that are missing documentation in addition to these below?

 - [ ] Add API section (unittest, coverage, shortest execution plan etc)
 - [ ] Forking be

[2015-09-20 03:11] arcivanov opened #200 "Allow PyB projects to be installed via URL-based install"
Currently PyB allows itself to be installed via `pip install <url>` by means of a setup file. Unfortunately other projects using PyB cannot take advantage of this without copying the file.

Therefore,

 - [x] ~~See if `setup.py` can be cleaned up and/or simplified.~~ [Simplified](https://github.com/pybuilder/pybuilder/pull/269/files#diff-2eeaed663bd0d25b7e608891384b7298R39) in #269
 - [ ] Add a ta

[2015-09-20 03:40] arcivanov opened #201 "Reimplement/rethink "analyze" task"
Currently analyze task makes very little sense, is confusing and produces non-deterministic and counterintuitive results.

If you have unit tests, cram tests and integration tests and don't specify `analyze` as a top-level task, analyze **still runs** but only analyzes unit tests ignoring cram and integration tests. If `analyze` is specified as a top-level task then `analyze` runs after all the te

[2015-09-20 03:43] arcivanov opened #202 "flake8 script file filter properties misbehave"
Tried excluding bash files without `.sh` extensions from testing for flake8 by appending to a property, but was unsuccessful, had to disable flake8 on scripts entirely.

Looks like a bug, need to investigate.

[2015-09-20 03:49] arcivanov opened #203 "100% coverage is not 100%"
With branch coverage being introduced there is a curious case of 100% code coverage possible without 100% branch coverage.

Whenever the following code is encountered:
[code]

it's possible to achieve 100% coverage in the unit test by setting `a` to `True`, while never testing the behaviors when `a` is `False`. This needs to be rectified, possibly by adding a property specifying a separate branch

[2015-09-20 08:09] locolupo commented on #199
:+1: The documentation is really important. @mriehl and i started to make a new documentation with sphinx (there is a pybuilder taks for that) see: https://github.com/pybuilder/pybuilder/tree/doc/sphinxdoc

i think we should merge all documentation issues into one ticket (this one maybe), prioritize the need.
I really like to help and i think if we all improve the documentation we can get it ready

[2015-09-20 11:32] mriehl commented on #201
I like being able to differentiate between `check for functional defects` and `check for warts and potential bugs / style issues`. But you're right that it's confusing... I think 2. would be too low level.

The issue I see with 1. is that I won't be able to have a customizable execution order for unit tests / linters. Say I only want to unit test if flake8 has no complaints (or the other way aroun

[2015-09-20 11:39] mriehl commented on #202
Yes the `flake8` plugin is currently not very clever when it comes to scripts linting. The problem is that you can't trust file extensions (scripts usually have a shebang and not an extension). So it would be necessary to analyze the semantics of the contents (which is hard) or the user would have to add or remove file names (which is annoying).

Maybe a regexp would be okay (default to `.*` but y

[2015-09-20 11:42] mriehl commented on #200
Good points. Maybe we can integrate this with the scaffolding module (`pyb --start-project`). Kinda like when starting a scala project you get the option of embedding a SBT launcher, also very much like the gradle wrapper which is created by idea when you set up a gradle project.

[2015-09-20 15:34] arcivanov commented on #200
Yep, `--start-project` seems like a reasonable place for this. But we also need to allow regenerating of the file if we have to refresh it. Can `--start-project` be rerun idempotently without breaking what's already there?

[2015-09-20 15:39] arcivanov commented on #199
In addition to Sphinxdoc, which are great, I was thinking more about reference docs on the main site.

[2015-09-20 15:40] arcivanov commented on #202
The problem seems simpler than that: I appended ",hcsos*" to the exclusion list and it didn't exclude, i.e. there is something wrong with how we manipulate exclusions.

[2015-09-20 16:54] locolupo commented on #199
What do you mean with main site? the http://pybuilder.github.io/ or the readme.md of the github project.?

Iam really looking forword to get the new docs ready: http://pybuilder.readthedocs.org/en/stable/user-doc.html#quickstart-using-pip

[2015-09-20 17:08] arcivanov commented on #202
Yeah, well, that's not Flake8, it's [PyB outsmarting itself](https://github.com/pybuilder/pybuilder/blob/master/src/main/python/pybuilder/plugins/python/python_plugin_helper.py#L59)...

Flake8 can process either directories or files. When directories are passed, you can `include` and `exclude` lists of patterns that Flake8 will follow. When specific files are passed patterns are disregarded by Fla

[2015-09-20 17:09] arcivanov commented on #199
I meant http://pybuilder.github.io/

[2015-09-20 17:19] locolupo commented on #199
ah ok, i think that is the documentation we would like to replace with http://pybuilder.readthedocs.org/en/latest/ @mriehl correct me if I'm wrong

[2015-09-20 17:20] arcivanov commented on #202
For now I'll submit a PR to fix this by delegating filtering responsibility fully to flake8 and introducing "include" pattern into options.

[2015-09-20 17:33] esc commented on #199
@locolupo is that the most recent version of the docs?

[2015-09-20 17:34] arcivanov commented on #199
I think the two are not mutually exclusive:

* pybuilder.github.io has tutorials, release notes, book-style formatting and overall newcomer friendly look-and-feel
* RTD are more of an official and autogenerated API reference.

We also have to be mindful of the fact that search engine is targeting `pybuilder.github.io` and RTD site is nowhere near the top.

[2015-09-20 17:40] locolupo commented on #199
iam not sure, but you can find the latest version here: https://github.com/pybuilder/pybuilder/tree/doc/sphinxdoc/docs

[2015-09-20 17:46] esc commented on #199
Do you have it rendered anywhere, by chance?

[2015-09-20 18:29] locolupo commented on #199
you can render it by yourself, donno if there is a readthedoc hook

```pyb sphinx_generate_documentation```

[2015-09-20 18:43] mriehl commented on #202
:+1: for letting flake8 decide

[2015-09-20 18:50] mriehl commented on #199
Also think we should keep both.
IMHO the main site (jekyll on github pages) is still great as a landing page, for release notes and some getting started stuff. The part where it completely falls short though is plugin documentation - it's all on a single page and mixes up available property names, common problems solved by plugin usage and plugin combination.

For example right now it's very diffi

[2015-09-20 18:50] mriehl commented on #199
@locolupo I added a hook but it seems to build only from master.

[2015-09-20 19:01] locolupo commented on #199
IMHO the main site (jekyll on github pages) is still great as a landing page, for release notes and some getting started stuff. The part where it completely falls short though is plugin documentation - it's all on a single page and mixes up available property names, common problems solved by plugin usage and plugin combination.

:+1:

Bummer

[2015-09-20 22:10] arcivanov commented on #199
@locolupo @mriehl I caught up `doc/sphinxdoc` on master and Travis now builds both `master` and `doc/sphinxdoc`: https://travis-ci.org/pybuilder/pybuilder/builds/81302267

[2015-09-21 01:54] arcivanov commented on #201
Well, there are two approaches:

* fail fast and report
* test everything, collect all the errors, fail and report

Another thing to consider is maybe we will simply remove `analyze`, unit and integration test and coverage default tasks once I'm done with #188. Then each plugin individually adds either analyze_xxx task or adds to a common analyze task.

Do we want to have flexibility to either fai

[2015-09-21 05:58] mriehl commented on #201
I think we should always fail fast because most things (like upload or integration tests) don't make sense when the build is failed.

Getting rid of analyze and verify with #188 sounds good - this would give us flexibility to either call the top-level tasks that flak8 etc reverse-depend on, or set a custom order with default_task.
Right now we can't run "just flake8" since the analyze namespace is

[2015-09-21 06:26] arcivanov commented on #201
@mriehl I naturally meant `fail-on-end` before result-generating tasks such as publish, install or upload.

Alternative would also be add an attribute to "@task(fault_tolerant=False)" and add it to publishers, which would make publishers etc intolerant of previous failures while the other tasks can proceed.

I need to sleep on this :smile:

[2015-09-22 12:36] esc opened #208 "Question about running tests"
Is it possible to run individual tests?

[2015-09-22 13:33] mriehl commented on #208
There's a hack if you want to test just a module:

[code]

whith `s/reactor_tests/your_test_module/` of course. There's no easy way to run just a test in a module right now though.

[2015-09-22 13:34] mriehl commented on #208
Actually there is: you can override `unittest_test_method_prefix` with the `-P` switch. Same as the module example I added but with method name.

[2015-09-22 13:38] esc commented on #208
Interesting. I usually ended up with my own hack using nosetests:

[code]

But this depends on correctly set ``PYTHONPATH``. And so one thing I would really like to see is the ability to modify the environment using pybuilder to inject the ``PYTHONPATH``, for example the way the ``ssh-agent`` does it.

[code]

[2015-09-22 14:09] mriehl commented on #208
Hmm.. that would definitely be really easy to add. Question is, what do you gain from it? Right now you `export PYTHONPATH=src/main/python`. With a task you'd still have to type `eval pyb export_env` which is not noticeably shorter.

I think it would be better to have an actual task that takes parameters, like
`pyb run_nose "test_module:TestClass.test_method"` (but we can not even parse this right

[2015-09-22 14:17] esc commented on #208
Yeah, I'll do that. Can I get pyb to print the module and scripts path?

[2015-09-22 14:57] mriehl commented on #208
You need to add a task for that :-/
We could consider adding these to the core python plugin since it's pretty neat for shell usage (like setting the pythonpath before starting vim, etc).

[code]

and then call the task with `-Q` (very quiet).

[2015-09-22 19:13] esc commented on #208
Yeah, that would suffice for my use-case. Everything, else I can do by shell function. It's probably only an edge-case, since I don't know any projects that override these defaults, but just in case it would be neato and would help interoperability between pybuilder and other tools.

[2015-09-23 10:06] arcivanov opened #209 "Provide optional "dev" version augmentation"
As described in #195 it seems to be desirable for PyB to increment generated versions of the artifacts.
It may also be desirable to do it for other projects as well.

The idea is as follows and is borrowed entirely from Maven `-SNAPSHOT`:

* User specifies `version` in `build.py` as ".dev0" (or "dev0", that will be normalized into a first version anyway)
* PyB uses that version completely unmodifi

[2015-09-23 12:21] mriehl commented on #209
I *think* we should do this opt-in style because `dev0` is a valid ending for versions (or is it not?)

* If the user sets the version to something that ends in `devN`, we replace the last `N` with the timestamp.
* If the user sets a dev version himself, we don't do anything (e.G. computes something from git)

[2015-09-23 14:30] MirkoRossini opened #211 "0.11.* coverage plugin causes issues during build deleting sys modules"
Hello,

I think the new coverage plugin should be refactored, as it's a potential source of problems.
Looks like it's deleting a bunch of global modules, sparing only the ones that it consider "essential".
We have a custom python installation, the coverage plugin gets a bit confused and considers non essential things like datetime. We end up with errors like:

Traceback (most recent call last):

[2015-09-23 16:30] arcivanov commented on #211
Thanks for the report. We're actually specifically attempting not to touch ANY modules that belong to Python by inspecting the installation. If you have a custom installation, we're probably introspecting it in a wrong way.

Generally, yes, and we don't, except for coverage, where **not** cleaning out non-essential modules produces wrong results.

Could you please run `pyb -v -X` and post the logs

[2015-09-23 16:32] arcivanov commented on #209
I'm confused by this statement. If "we don't do anything", who "computes something from git"?

[2015-09-23 16:33] arcivanov commented on #209
otherwise :+1:

[2015-09-23 16:47] mriehl commented on #209
The user.
Say there's
[code]
in `build.py`. Then we shouldn't patch it (even if `doMagicWithCurrentGitRef` resolves to `0`).

[2015-09-23 16:54] arcivanov commented on #209
I suppose then we can rewrite then this:

[code]

or

[code]

or these

[code]

respectively. I might actually lean towards `.dev` with no suffix at all to allow a user to customize whatever number/suffix she wants.

[2015-09-23 17:16] #202 closed

[2015-09-23 17:18] mriehl commented on #209
Sounds good :smile:

[2015-09-23 17:20] arcivanov commented on #209
Ok `.dev`/`dev` it is.

[2015-09-23 17:22] mriehl commented on #211
This looks like the `finally` block is masking some other error, but it implodes because `datetime` is gone. I don't think `-X` would help because of this (`traceback.print_exc` would also fail then).

Another possibility (if you can spare the time) is to insert
[code]
in the `finally` block and look at the stack from there.

[2015-09-23 17:23] MirkoRossini commented on #211
Thanks for the quick reply. Here is the log.
I still think there should be a solution that doesn't require to mess with sys. I did see in the code the part where you walk in the sys lib directory trying to find the "essential" modules, but it still seems like a dangerous approach to me.

PyBuilder version 0.11.1
Build started at 2015-09-23 13:16:04
-------------------------------------------------

[2015-09-23 17:28] MirkoRossini commented on #211
I added traceback and apparently sys is also considered not essential.
I changed the code like this:

    finally:
        import traceback
        traceback.print_exc()
        end = datetime.datetime.now()

and I get
[code]

[2015-09-23 17:37] arcivanov commented on #211
Could you describe your custom installation? What are the customizations?

[2015-09-23 17:40] mriehl commented on #200
No, it's pretty basic templating. We would have to go through the AST somehow in order to regenerate, but even then it's not easy because `project.set_property()` does not look like `getattr(project, "set_property")()` in the AST but it's actually the same thing. So it would be really hard to not re-add things that are already there.

Maybe we can have both: a task that (re)generates the `setup.py

[2015-09-23 17:46] arcivanov commented on #200
Yeah, I'm for the latter approach I think.

[2015-09-23 17:53] arcivanov commented on #211
@mriehl given that we're forking, maybe try to do something like this:

* We fork, except on Windows
* We don't touch modules unless asked  (return of the `reload`)
* PyB build always reloads

If there are other plugins that load test code into the `pyb` process without forking, not reloading modules will cause coverage instrumentation to be unreliable, but unittest does fork by default so maybe i

[2015-09-23 18:32] MirkoRossini commented on #211
I think the main difference is that our environment doesn't use any of the shared libraries under /usr/lib64/python2.7
Instead, we place our standard libraries in env/lib/python2.7/ this is what you get as a result of

[code]

but our lib-dynload is not under the same directory, instead it's at
[code]

so every module in env/python/2.7.6/lib/python2.7/lib-dynload/ gets skipped as not located in en

[2015-09-23 19:04] mriehl commented on #211
@arcivanov I'm okay with that. Forking by default makes it harder to falsify wrong coverage numbers and the pybuilder metrics would still be accurate.

[2015-09-23 19:33] arcivanov commented on #211
@MirkoRossini I wonder if I can get the information about your environment somehow. Python definitely knows to look for those directories so we should be able to look where Python does.

[2015-09-23 20:17] MirkoRossini commented on #211
@arcivanov  my previous comment contains the explanation on why the code doesn't consider the lib-dynload directory as being system. Do you need other details? Is there something I should attach?

[2015-09-23 21:01] arcivanov commented on #211
@MirkoRossini I understood your explanation, I was simply thinking outloud on whether there was some way for me to query Python for those directories that you use. Thanks for your help, no more data necessary.

[2015-09-24 01:51] #203 closed

[2015-09-24 02:02] #65 closed

[2015-09-24 02:13] arcivanov commented on #130
Actually, this also solves a need for Tox support and would be something that my team needs to do anyway for CI/CD.

If pyb can create its own venv under `target` for test purposes, multiple virtualenvs can be created with different python binary references (possibly but not necessarily managed by pyenv?) that would result in a full replacement for need for Tox and it's not that hard to implement.

[2015-09-24 05:48] arcivanov commented on #211
@MirkoRossini Actually I do have a favor to ask you. When I run the following in my environment here's what I get:

[code]

What do you get in yours running the same?

[2015-09-24 07:21] mriehl commented on #209
@arcivanov I just noticed that patching the version in `install` and `upload` would not be enough. Since travis takes care of upload itself (it would be complicated to set a password in the repo to use `pyb upload`) we probably need to do this when building the source dist (I don't know how travis uploads, maybe it just uploads the tar.gz, maybe it uses the setup.py to build a sdist and then uploa

[2015-09-24 07:26] mriehl commented on #130
If we do this, we'd also need some way to automate the installation and configuration of pyenv. Building a cloned project should not depend on the user already having 4 working python versions (I somehow manage to break my pyenv installation every few months or so, it's probably an issue with `python-pip`).

The question then is, why not use tox since it already automates this? There's `pyb-init`

[2015-09-24 07:29] mriehl commented on #195
Seems to [work](https://pypi.python.org/pypi/pybuilder/0.11.2.dev127) but I'm not quite sure how travis came up with the `127`. On my machine `git rev-list HEAD` outputs 852 lines.

[2015-09-24 07:56] arcivanov commented on #209
Actually we can. We can have an encrypted .pypirc file and use that with `pyb upload`. It would not be complicated at all, I'm doing on Jenkins internally into a `pypiserver`.

http://docs.travis-ci.com/user/encrypting-files/
https://docs.python.org/2/distutils/packageindex.html#pypirc

[2015-09-24 08:07] arcivanov commented on #130
Let's forget `pyenv` for now, assume pythons are already available and they look like symlinks, i.e. python, python2, python3, python26, python27, python33, python34, python35...

virtualenv can be created very easily with [simply passing a specific name of system-wide python to use](https://virtualenv.pypa.io/en/latest/reference.html#cmdoption-p)

This is half the Tox right there, and we can alwa

[2015-09-24 08:12] arcivanov commented on #195
@mriehl I think we need to make sure that latest release is not hidden by dev builds, which is the case on pypi right now.

[2015-09-24 08:13] esc commented on #195
The 127 is weird, we are 22 commits ahead `of 0.11.1`:

[code]

[2015-09-24 08:13] esc commented on #195
Maybe it's an exit code that was interpreted incorrectly?

[2015-09-24 08:16] arcivanov commented on #195
I think that's very easy - Travis might be doing a shallow clone or pruning branches. Very common procedure for CIs, that's why I would rely on HEAD's sha1 rather than number of commits, frankly.

[2015-09-24 08:18] arcivanov commented on #195
Yep, clone is shallow

Actually 50 is a lot, I usually only clone to the minimum depth required to build, i.e. --depth=1

[2015-09-24 09:00] mriehl commented on #195
Problem with SHA1 is it's not monotonously increasing.
I can add a `time.time()` for now, what do you think?

Also what do you mean by

?
As far as I know `pip` should only install releases ending with `.dev*` if called with `--pre` or something.

[2015-09-24 09:17] mriehl commented on #195
I see. I have hidden the dev release and unhidden the latest release. But looking over the travis docs, there's no way to hide when uploading.

[2015-09-24 09:19] mriehl commented on #195
Also the dev release is broken because travis does this while in the virtualenv and hardcodes the 2.6.9 python path.

[2015-09-24 11:02] mriehl commented on #195
Travis support for upload seems incredibly messy. They're trying to use `twine` but it's not installed of course. Adding `deactivate` as a `before_deploy` doesn't help either because they decided it would be awesome to rebuild the whole project, thus we try to install dependencies in the global sitelib...

[2015-09-24 11:05] mriehl commented on #195
Also `setup.py upload` does not provide a way to "hide" the release from PyPI. Seems like going through the GUI is the only option.

[2015-09-24 16:31] mriehl commented on #195
I have a solution for the virtualenv, I think... travis seems to upload wheels by defaults but sdist should always work, even in a virtualenv.

[2015-09-24 16:36] mriehl commented on #195
Turns out you can also disable the auto-hiding of old releases on PyPI. There's going to be visual clutter at some point but I have automated the removal of old dev releases with webdriver so we should be good.

[2015-09-24 16:38] MirkoRossini commented on #211
@arcivanov  thanks for working on this:

[code]

I made progress on my side though. I checked and lib-dynload is actually symlinked in the correct location.
After some digging, I found that the problem is caused by this line:

[code]

realpath removes the symlink, so the libraries don't appear to be in the correct location. sys.path correctly shows
[code]

Is there a reason why we need to follow t

[2015-09-24 16:39] mriehl commented on #130
What I mean is I have some machines where there is only 2.7 and 3.4 installed. I won't be able to work on projects that test 2.6-3.5 with those machines then? Or do we make the multipython testing a separate thing that is not always/automatically run?

[2015-09-24 17:27] arcivanov commented on #195
@mriehl nice! Have you considered using encrypted .pypirc with install upload?

[2015-09-24 17:51] arcivanov commented on #130
And what I mean I think we can start adding that functionality in steps, e.g.:

1. If you have multiple Pythons preinstalled, you can build for each one of them by referencing them somehow via config. We don't install or manage them for you but you're free to use them if you'd like. (we can have `project.set_property("whatever_plugin_pythons", ['python26', 'python34'])` )
2. Now that we have 1. we

[2015-09-24 18:02] arcivanov commented on #211
Ah, that's the thing, my `/Users/arcivanov/pyhome/current` is a symlink as well but I'm not using the `plat_specific`. I think I added the real path to compare apples to apples and I think the simple way to do this will be to canonize everything to make sure we always deal with real paths. I should have the patch tonight. Thanks for you help!

[2015-09-24 20:09] MirkoRossini commented on #211
Thanks a lot :)

[2015-09-25 02:57] arcivanov commented on #211
@MirkoRossini could you test with the following?

`pip install --upgrade https://github.com/pybuilder/pybuilder/archive/issue_211_test.tar.gz`

[2015-09-25 14:46] mriehl commented on #195
I have.. but

* I don't trust travis enough to leave an unencrypted password in one of their containers (I know they could decrypt from our travis config, but decrypting the file and just leaving it there seems a bit riskier to me)
* I'd prefer to do this the travis way if we use travis and I can get it to work
* This avoids polluting the repo outside of the `.travis.yml`

[2015-09-25 14:52] MirkoRossini commented on #211
Hi, I actually get this:

Collecting https://github.com/pybuilder/pybuilder/archive/issue_211_test.tar.gz
  Downloading https://github.com/pybuilder/pybuilder/archive/issue_211_test.tar.gz (121kB)
    100% |################################| 122kB 460kB/s
    PyBuilder version ${version}
    Build started at 2015-09-25 10:52:20
    ------------------------------------------------------------
    --

[2015-09-25 15:07] mriehl commented on #211
@MirkoRossini sorry, that was me and my travis woes. Can you retry? I fixed the branch.

[2015-09-25 15:08] mriehl commented on #195
Finally, [it works](https://pypi.python.org/pypi/pybuilder)

[2015-09-25 15:10] MirkoRossini commented on #211
Thanks, it installs now! I'm getting this:

[code]

[2015-09-25 15:12] MirkoRossini commented on #211
Thanks, I can install now! Here is what I get:

[code]

[2015-09-25 15:28] mriehl commented on #195
@arcivanov are you cool with closing this and moving to the .dev suffix once it's in?

[2015-09-25 15:30] mriehl commented on #184
@sdomme latest master should get you going again. You can get it with `pip install pybuilder --pre --upgrade`

[2015-09-25 15:34] mriehl commented on #168
@snordhausen any update on this? IMHO the wheel spec sucks and should be changed so I'd rather not work around it. What do you think?

[2015-09-25 15:44] MirkoRossini commented on #211
maybe an approach could be to create a set of symlinks and realpaths and consider all of them as valid paths? It would definitely fix my problem (sys path is an actual directory, sys-dynload is a symlink), I don't think it would affect other people.

[2015-09-25 16:24] alex-dow commented on #211
I just wanted to say, I have a similar problem, but it is isn't consistent.

On both machines, I do the following:

[code]

Machine #1 is using python 2.7.9 on Ubuntu 15.04 with pyb 0.11.1, and works fine
Machine #2 is using python 2.7.6 on Ubuntu 14.04 with pyb 0.11.1, and does not work. I've run it in console, and from Jenkins and have the same exception in both

[code]

not sure if this helps.

[2015-09-25 16:28] arcivanov commented on #211
Ok, I'm sticking to the original plan - we can't handle custom environments :sob:

[2015-09-25 16:48] mriehl commented on #130
Ok, this makes sense. I agree leaving out python version management from the first version will dramatically reduce complexity and still be useful.

The `whatever_plugin_pythons` property should also accept base strings (and detect this) though, because this is required to be able to override the property when calling `pyb` (we can't pass lists through the CLI...yet).

So
* `project.set_property("

[2015-09-25 16:53] mriehl opened #214 "Consider `eval`ing property overrides"
With the `-P` switch we can override properties, but only strings.
What if I want to override a property that takes a list value, or a boolean? For booleans you can hope the plugins checks for truthiness/falsiness only (`if x`) and not against actual singletons (`None`, `False`, `True`) but for lists or numbers there is no solution.

So it just occurred to me that we could use `eval` to produce ac

[2015-09-25 17:46] arcivanov commented on #130
Agree, but we'd `as_list` anyway, I presume ;)

[2015-09-25 17:51] arcivanov commented on #214
For `-P my_prop=new\ value`, what does `eval(new\ value)` give you? I assume it breaks. So we need to have backwards compatibility somehow that can distinguish between:

`-P my_prop=new\ string\ value`

and

`-P "my_prop='something to eval %s' % variable"`

Maybe `=` vs `:=` ?

[2015-09-25 17:55] mriehl commented on #214
Yes new and value would be unbound locals. A new operator would be neat, but I don't think the cli parser can handle this. There's always the option of adding a new flag, like `--eval-override`

[2015-09-25 17:56] arcivanov commented on #214
CLI just splits the value on `=`. We can always split on `=` or `:=`. Some minor coding is necessary.

[2015-09-25 18:10] arcivanov commented on #214
Question is - when do you want to eval them, i.e. in what phase? I assume right in the invocation of `@init` so that the context of eval is predictable.

[2015-09-25 18:10] mriehl commented on #214
Hm, the := definitely sounds best when you put it like this. Thanks!

[2015-09-25 18:11] arcivanov commented on #214
:+1:

[2015-09-25 18:41] mriehl commented on #214
Yes during init probably. But with no locals and globals, I think, and also keeping just the result of the eval, to avoid strange side effects.

[2015-09-25 22:17] #211 closed

[2015-09-25 22:18] arcivanov commented on #211
No more resetting modules by default and never on Windows.
If you need module reset functionality `project.set_property("coverage_reset_modules", True)`, which is default for PyB itself.

[2015-09-26 05:40] alex-dow opened #216 "Making setup.py look nicer"
I've noticed that the generated setup.py is not formatted nicely.

I'm making a pull request now that aims to beautify the output a bit. If you guys aren't up for it, I'll go turn it into a plugin.

[2015-09-28 18:33] MirkoRossini commented on #127
Hi, is there a plan to merge this change? This would be very useful

[2015-09-28 18:48] mriehl commented on #127
Afaik there's no pull request? Let me check..

[2015-09-29 03:47] arcivanov opened #218 "Normalize wheel generation/configuration/cleanup"
I'm going to collect requirements here to cleanup and fix our use and configuration of `bdist_wheel`.

- [X] ~~need review wrt to [PEP 0491](https://www.python.org/dev/peps/pep-0491/)~~ - PEP-0491 is a draft and not yet in effect
- [X] ~~generated wheels are absolute path ones and include home directory of the build machine making them unuseable~~ - this was due to a bug in #168
     * ~~unless th

[2015-09-29 15:47] mriehl commented on #218
There's also the requirement that stuff in the `scripts` section must start with the `#!python` shebang (it gets rewritten at install time).

I don't think this works when not using wheels (eG local execution) because `execve` doesn't know anything about PATH. So this could mean we have to rewrite shebangs when packaging, so that distlib can rewrite it when installing... this is really stupid imho

[2015-09-29 15:53] arcivanov commented on #218
#!python should be rewritten by installer, yes and execve would be clueless.

[2015-10-02 02:09] jljs opened #219 "Using PyBuilder with Anaconda Virtual Environment"
Thanks for the great works guys. I really like PyBuilder. I'm using PyBuilder with Anaconda virtual environment where there are multiple instances of python.exe installed. I just like to report this issue I am encountering with assert_can_execute function inside utils.py where it checks the availability of plugin, say 'pylint'. The current implementation with subprocess.Popen(...) does not conside

[2015-10-02 05:24] mriehl commented on #219
Hi,

This is actually correct. There are several dependencies (like pip or pylint) which we interface with through script boundaries. For example pip has no public api so the ony way to use it is to spawn a subprocess and call the pip executable (as opposed to importing the pip module and calling its code from the pybuilder process).

This is exactly what assert_can_execute is for. When we use API

[2015-10-02 05:27] mriehl commented on #219
Anyway, I think it would be possible (and easy) to simply prepend the python executable's directory to the PATH. But I'm not yet convinced it's necessary - I have never used anaconda so that might be it. Do you have a link to some good documentation on this?

[2015-10-04 01:30] jljs commented on #219
Yeah. Below is a link to Anaconda virtual environments. Anaconda provides pretty good documentations in their own website.

http://conda.pydata.org/docs/using/envs.html

In general, Anaconda by default has a root environment installed in .../Anaconda/. It then allows you to create multiple virtual environments in .../Anaconda/envs/<virtual env>. Users use "activate <virtual env>" to create activat

[2015-10-06 14:27] mriehl commented on #219
I see, thanks for clarifying. So you want to run the pybuilder script from IDEA where there is no active virtual environment.

I hear you and I think it would be useful to build "add the dirname of sys.executable to the PATH when starting". This would allow anyone to run the pybuilder script (or binary on windows) without even having to activate the virtual environment. So I am going to add this f

[2015-10-06 14:37] esc commented on #219
FWIW: I am using pybuilder with anaconda on a daily basis and it works fine. I think the issue is probably with the PyCharm configuration, but it's a guess at best.

[2015-10-07 06:30] esc opened #220 "The python-versions badge in the README is currently broken?"
Or is it just for me?

[2015-10-07 06:31] esc commented on #208
The original question has been answered. I'd like to close this issue and make a new one for the suggestions about the additional tasks, OK?

[2015-10-07 06:49] mriehl commented on #208
Works for me!

[2015-10-07 06:51] mriehl commented on #220
Yeah, doesn't render for me either. I'll look into it.

[2015-10-07 16:15] mriehl commented on #220
Looks like pypip.in is timing out. I'll simply remove it since we list supported versions a few lines further down.

[2015-10-07 16:17] #220 closed

[2015-10-07 20:31] jljs commented on #219
Hi Maximilien,

Thank you for looking into this and the consideration. It think it'll provide more flexbility.

Yes, setting PATH to  C:\Anaconda\envs(virtual env1)\Scripts in Run Configuration is currently my solution in PyCharm. I guess I will continue to use this approach until the feature gets added.

As a side question, will PyBuilder support Python 3.5 in the future?

[2015-10-08 06:03] mriehl commented on #219
3.5 not being in the travis build matrix is actually an oversight. It's probable it already works, I'll look into it.

[2015-10-09 10:55] esc opened #222 "Fail to build with pybuilder 0.11.1"
I can't seem to build:

https://github.com/ImmobilienScout24/aws-deployment-notifier

Here is the error:

[code]

0.10.63 works fine.

[2015-10-09 11:00] esc commented on #222
Latest greatest, a.k.a:

https://pypi.python.org/pypi/pybuilder/0.11.2.dev20151007161917

works fine.

Yay! development releases!

[2015-10-09 17:54] arcivanov commented on #222
@esc yes I screwed up, they were fixed the same day, use latest.

[2015-10-09 20:53] esc commented on #222
Okidokey!

[2015-10-09 20:53] #222 closed

[2015-10-14 07:38] glujan commented on #127
I've created [pull request](https://github.com/pybuilder/pybuilder/pull/223) for this issue.

[2015-10-15 15:29] arcivanov commented on #127
@glujan if you could, please squash the commits and reword the commit message with `fixes #127` to link up PR with the Issue.

[2015-10-16 12:56] glujan commented on #127
@arcivanov Here you are.

[2015-10-16 14:16] #127 closed

[2015-10-21 11:40] codesplicer opened #224 "Analyze task keeps silently failing build"
Running `pyb analyze` on my project keeps failing with the following output:

[code]

Here's whats installed in the virtualenv:

[code]

My build.py:

[code]

Not sure of the best way to debug this. I followed the path through the coverage plugin to as far as the coverage_factory call

[2015-10-21 11:42] mriehl commented on #224
Hi,

can you try to run this with `pyb -X` (debug mode)?

[2015-10-21 11:50] codesplicer commented on #224
Output from debug mode:

[code]

[2015-10-21 15:23] mriehl commented on #224
OK, this is actually already fixed in a pre-release.

If you `pip install pybuilder --pre --upgrade` this problem should go away. Can you confirm?

In the meantime, I'll try to get an actual release out of the door ASAP.

[2015-10-21 16:37] codesplicer commented on #224
After running the above command, I can confirm that the problem is fixed in the pre-release.

[2015-10-21 19:25] mriehl commented on #224
Glad to hear it, thanks for checking! I'll try to find the time for a release tomorrow, a simple upgrade would do the trick then.

[2015-10-21 19:28] #195 closed

[2015-10-22 12:20] mriehl commented on #224
v`0.11.2` is out now, so closing this ;)

[2015-10-22 12:20] #224 closed

[2015-10-22 12:20] #208 closed

[2015-10-22 12:21] mriehl commented on #184
Should work with latest regular release now (`pybuilder==0.11.2`)

[2015-10-22 12:21] #184 closed

[2015-10-22 12:21] mriehl commented on #184
@sdomme can you confirm the issue is fixed?

[2015-10-23 15:47] arcivanov commented on #195
sorry missed this, yes I'm cool!

[2015-10-28 09:16] michikuehne opened #226 "list tasks in subdir causes exception"
Hi,

If executing "pyb -t" or "pyb --list-tasks" in a subdir from the dir, where the build.py is located, causes the following exception:

[code]

I excepted the task list or a helpful error message.

Best,
Michael

[2015-10-28 10:41] esc commented on #226
`pyb` only works in the top-level directory at the moment.

[2015-10-28 17:13] arcivanov commented on #226
@michikuehne, @esc is correct, not a bug

[2015-10-28 17:13] #226 closed

[2015-10-28 17:20] arcivanov opened #227 "PyB needs to allow customizing distutils setup.py with pre- and post- install logic"
A simple example for this is: I need to move packaged config files (data_files) to some other location. Installing in a non-package location [isn't possible by design](http://peak.telecommunity.com/DevCenter/setuptools#non-package-data-files) and requires custom deployment logic. This deployment logic cannot be implemented without custom post-install handler

The customization will be implemented

[2015-10-29 07:10] mriehl commented on #227
:+1:

[2015-10-29 07:12] mriehl opened #228 "Windows + coverage is way off"
A colleague (@sdomme) noticed that on windows the coverage is way off (100% on linux but ~50% on windows).

Looking at the coverage data it seems that decorators and imports are not covered, but everything else is.

[2015-10-29 08:14] esc commented on #227
Yeah, why not.

[2015-10-29 08:19] esc opened #229 "PyBuilder PyPi upload support Travis"
I recently made a pybuilder plugin here:

https://github.com/ImmobilienScout24/pybuilder_aws_lambda_plugin

I am using the following travis file to upload to PyPi on success:

https://github.com/ImmobilienScout24/pybuilder_aws_lambda_plugin/blob/master/.travis.yml

The issue I have, is that I had to copy and paste the setup.py from the pybuilder/pybuilder.git to make this work. I'd like to see nat

[2015-10-29 08:36] mriehl commented on #229
Approaching travis is one idea (they're in berlin afaik) but @arcivanov had the idea to allow users to generate a setup.py that passes through calls to pybuilder. This would allow us to be compatible with much more tools (like tox!) which I would actually prefer.

[2015-10-29 13:12] mriehl commented on #229
@esc I'd like to close this in favor of #200 , would this work for you?

[2015-10-29 13:14] mriehl commented on #226
On a side note, the exception handling could be a bit better - if you just run `pyb` we show a helpful error message:

[code]

but if you run `pyb -t` we show a stack trace (which is not user friendly):

[code]

[2015-10-29 13:20] esc commented on #229
sure, if I can avoid copying the file that would work for me.

[2015-10-29 13:20] #229 closed

[2015-10-29 13:31] mriehl commented on #226
@michikuehne latest dev release should produce a helpful error message

[2015-10-29 15:55] arcivanov commented on #228
:groan: What's the version of Coverage used? What's the version of Python? What's the version of PyB?

PS: I love Windows.

[2015-10-30 18:03] snordhausen opened #230 "integrationtest plugin causes build failure with version 0.11.2, works in 0.11.1"
Hi!

I encountered an issue with pybuilder version 0.11.2. Running "pyb analyze" fails with

[code]
You can see this on Travis CI:
https://travis-ci.org/ImmobilienScout24/afp-core/builds/88392996
When I downgrade pybuilder to version 0.11.1, it works:
https://travis-ci.org/ImmobilienScout24/afp-core/builds/88395058

The reason is that my build.py includes the integrationtest plugin, but there is a

[2015-10-30 18:50] mriehl commented on #230
Yeah makes sense, flake8 now tries to lint the directory instead of globbing files.

Thanks for reporting.

[2015-10-31 02:11] arcivanov commented on #230
I'll fix this

[2015-11-03 13:32] #216 closed

[2015-11-03 16:13] esc opened #234 "Mention that task as a description keyword"
In the docs for plugins, it would be nice to mention that the `task` decorator can accept a `description` keyword. (Because we hit the problem with `from pybuilder.code import description` and the project `description`)

http://pybuilder.github.io/documentation/writing_plugins.html#.VjjdLJeXjmE

[2015-11-04 23:32] #230 closed

[2015-11-05 12:28] snordhausen commented on #230
Thanks a lot for the fix!

[2015-11-05 18:38] #227 closed

[2015-11-06 02:00] arcivanov opened #236 "Setup.py is corrupted post-#216"
The following appears in `setup.py` when generated in 0.11.3.dev-SNAPSHOT
[code]

[2015-11-06 02:01] arcivanov commented on #236
connected to #216

[2015-11-06 04:45] #236 closed

[2015-11-06 05:27] jewishjeff commented on #234
I would like to work on this, but don't really know what I am doing. Can someone point me in the right direction.

[2015-11-06 07:53] esc commented on #234
You should probably wait until #235 is fixed and then modify: https://github.com/pybuilder/pybuilder.github.io/blob/master/documentation/writing_plugins.md

[2015-11-06 08:30] esc commented on #208
See: #239

[2015-11-09 11:14] konz opened #241 "Why is use_plugin neccessary to use bundled integrationtest plugin?"
The documentation states, that pybuilder ships with the integration test plugin and how tests have to be layed out in order to get picked up. It does *not* state that additionally I need this in `build.py`:
`use_plugin("python.integrationtest")`

Besides that this should be mentioned in the documentation, I don't understand why bundled plugins have to be explicitely enabled. If it is bundled it sh

[2015-11-09 23:22] arcivanov commented on #241
Thanks for you interest in PyB.

One of the reasons is that not every project uses a integration tests. There are very many plugins that are enabled by default, including cram and flake8 tests that are bundled with pyb. Unless you have actual test for cram or compliant code for flake8 your build will fail.

The bundled plugins are ready to use, they are just not enabled by default as every project

[2015-11-09 23:23] #241 closed

[2015-11-10 11:45] karolyi commented on #241
Can we please merge my pull request? It took us an engineer-hour to find this out, since it's not specified explicitly in the documentation.

[2015-11-10 11:50] esc commented on #241
I merged it.

[2015-11-11 03:24] arcivanov opened #243 "Specifying upload repository for upload task doesn't work"
`repository = project.get_property("$distutils_upload_repository")` should be
`repository = project.get_property("distutils_upload_repository")`

[2015-11-11 03:34] #243 closed

[2015-11-11 19:27] konz commented on #241
thx!

[2015-11-12 07:04] guillermooo opened #245 "(windows) running plugins from build.py"
I appreciate this probably isn't the right place to ask support questions, but couldn't find any other channel. Apologies!

My goal for now is to run pybuilder plugins from the `build.py` file.

I have this `build.py` script that I've pieced together by looking at existing examples:

[code]
Flake8 reports issues in my code if I run it from the command-line, but the pybuilder doesn't report anythin

[2015-11-12 08:13] arcivanov commented on #245
This could be a bug, in all honesty. But to determine that I'd need more info.

1. Could you run `pyb -v -X` and post output?
2. What version of pyb are you using?

[2015-11-12 10:17] mriehl commented on #245
Did you run `pyb install_dependencies` so that flake8 is installed?
But agree that it looks like a bug. If flake8 is not installed there should be an error, and if it's installed it should run.

Also @guillermooo  this is totally the right place for questions and support, no worries!

[2015-11-12 10:20] mriehl commented on #234
@jewishjeff #235 is done - do you need more help to get started?

[2015-11-12 15:57] guillermooo commented on #245
I just did `pip install flake8` into the same venv. If what you say makes a difference, then it must be that. Will doublecheck later.

[2015-11-12 16:26] mriehl commented on #245
This shouldn't make a difference, because `pyb install_dependencies` would call `pip install flake8` too.

When you double check, please be sure to capture a debug log (`-X` switch as pointed out by @arcivanov )

Incidentally, thanks for your work on the sublime text ecosystem :smile:

[2015-11-12 17:03] karolyi commented on #126
While I'm a newcomer to pybuilder itself, let me share my 2 cents here for the knowledge transfer:

I just upgraded `django-require` in my fork, which hopefully will be merged back to the project after I added my extra functionality to it.

The point is, aside from pybuilder, I managed to integrate tox with travis, while having the tests not packaged (specified via `MANIFEST.in`). See the details

[2015-11-12 19:34] guillermooo commented on #245
:+1:

[2015-11-12 19:41] guillermooo commented on #245
Log:

[code]

[2015-11-12 19:51] mriehl commented on #245
Hmm. Looks like you ran `pyb hello`, is that correct?

PyBuilder runs the task you specify on the command line (unless you don't specify anything, in that case the value of `default_task` in the `build.py` is used).

Since the task `hello` doesn't have any dependencies here, other tasks are not executed.

Your options if you want to run flake8:

* Run `pyb analyze hello` (explicitly analyze the `a

[2015-11-12 19:56] guillermooo commented on #245
Darn, it's true. I don't need to change anything. I just need to invoke the build script as `pyb_.exe`. I could swear I'd tried that, but nevermind. Thanks!

[2015-11-12 19:56] #245 closed

[2015-11-12 20:42] #209 closed

[2015-11-13 09:20] arcivanov opened #246 "Upload task needs to be able to handle dev releases"
[code]

The cause is that when `upload` is run in a separate task it generates its own timestamp and can't find the **latest** built snapshot.

What should happen is that upload should upload the latest artifact if the version of the project ends with '.dev'.

[2015-11-13 10:31] arcivanov commented on #218
@mriehl I think one of the major issues we have right now is that `distutils_plugin` is by default configured to generate `['sdist', 'bdist_dumb']`. `bdist_dumb` is completely useless so I would propose replacing `bdist_dumb` with `bdist_wheel`.

The wheel is properly generated with relative paths whereas `bdist_dumb` uses absolute paths internally making it completely unuseable as it carries a pa

[2015-11-13 11:12] arcivanov commented on #168
@mriehl question for you based on this:
[code]

It does assume the use of pip or a similar installer but here's the deal - you can't install a wheel without pip or a similar tool to begin with. And pip already does a proper rewrite, I believe.

Setuptools, however, does rewrite the shebang for wheel only.

We have a bug how we package as the order of invocation of setup tools matters.
If you do in

[2015-11-13 11:14] arcivanov commented on #168
So either we have to blow away `$dist_dir/build` or stop generating useless `bdist_dumb` that rewrites shebang right in the `$dist_dir/build/scripts-2.7/pyb`.

[2015-11-13 11:14] arcivanov commented on #218
#168 actually can be fixed by the latter

[2015-11-13 11:22] arcivanov commented on #168
I'm going to implement the following solution:

* Change defaults to `['sdist', 'bdist_wheel']`.
* Run `clean -all` before every command to ensure to insulate the individual builds from each other.

[2015-11-13 12:52] mriehl commented on #168
You're right, `bdist_dump` is usually not what you want.

That's true, but my point is that if I get the project sources and try to run the file (which should always work, IMHO) it won't run because the shebang is broken. So the app is broken *unless* I actually install it.
I like the "have the cake and eat it too" approach from being able to run the sources or install as a package, which is no lo

[2015-11-13 12:53] mriehl commented on #168
Sounds good.

[2015-11-13 12:56] #246 closed

[2015-11-14 11:26] #168 closed

[2015-11-14 11:30] arcivanov commented on #218
Closing this as complete as issues are now resolved.

[2015-11-14 11:30] #218 closed

[2015-11-17 22:07] arcivanov opened #254 "PyB with `.dev` version causes distutils to be confused about the version"
[code]

[2015-11-17 22:08] arcivanov commented on #254
Nevermind, bug in my customizer :duh:

[2015-11-17 22:08] #254 closed

[2015-11-18 11:11] codesplicer opened #255 "Pybuilder does not parse/run tasks when run in Thoughtworks Go"
I'm trying to run pybuilder as part of a CD pipeline using [Thoughtworks Go](http://go.cd). I have a setup script consisting of the following:

[code]

However from looking at the output, ```pyb install_dependencies``` isn't run, resulting in 'build took 0 seconds'. If I run ```pyb -t``` from the Go task it correctly prints out the full task list however, so perhaps there's an issue in the way pyb

[2015-11-18 12:21] mriehl commented on #255
It seems PyBuilder is already installed or downloaded in the log you added, is it possible that you're not calling the `pyb` script from the virtualenv?

It's really strange however. The debug shows that the install_dependencies plugin was correctly loaded, but somehow the task is not run.
Can you add your `build.py` as a gist or code snippet? Especially any custom tasks and the base project defin

[2015-11-18 12:25] mriehl commented on #255
Looking at the code, the block `Executing initializer...` should be followed by at least the project properties (they are always logged in debug mode).

A simple explanation would be that there is a `sys.exit` being called somewhere (maybe you have a custom initializer that exist?), but maybe we have a bug.

[2015-11-18 12:28] mriehl commented on #255
A further look at the log reveals that there is a custom initializer:
[code]

but exactly at the point in time when this initializer should be executed (the last executed initializer is `set_properties`, which is found just before `set_properties_for_go_builds`) the build suddenly stops.

I *think* there could be a problem wich `set_properties_for_go_builds`. Can you post the initializer declarati

[2015-11-18 12:32] codesplicer commented on #255
My build.py is below. There is indeed a custom initialiser, to enable xml reporting when run from a Go pipeline task, but it shouldn't exit unless xmlrunner isn't installed?

[code]

[2015-11-18 14:22] codesplicer commented on #255
Looks like the code that sets xmlrunner is what silently broke the build script. Remove that code from build.py and everything works again. Is there a better way to do this?

[2015-11-18 15:32] mriehl commented on #255
XMLRunner is already the default, so you don't actually need to do this, but I agree this is poor user experience.
Also the problem might be that you `__import__` to reference the class but not the `_make_result` which relies on the enclosing scope (doesn't work in a forked process then).

I don't really understand how this can silently fail instead of causing a crash - how did you get to the bott

[2015-11-18 15:38] codesplicer commented on #255
Yes I just saw that too (on a sidenote, pyb generates 2 report files for each module being unit-tested during analyze).

I found the bug by progressively simplifying my build.py until it started working in Go. But yes, was expecting to see the exception output instead of silently failing. Unsure why the SystemExit wasn't breaking out of the script.

[2015-11-18 16:04] arcivanov commented on #255
it does that because of coverage - tests are run twice with and without coverage.

[2015-11-18 17:25] mriehl commented on #255
Is it possible your initializer was raising the SystemExit due to missing xmlrunner?

Anyway, we need to catch SystemExit and deal with it (provide a backtrace, fail the build) if that's the case. Thank you for reporting this.

[2015-11-19 12:47] arcivanov opened #257 "Plugin-specified PyB API version constraints"
Plugins should be able to specify which versions of PyB they are compatible with. If there are breaking changes in the internal PyB APIs, PyB should be able to warn the user that plugin does not support the currently running version of PyB and should discontinue operation.

PyB should use SemVer to indicate compatibility:
* `<major>` - revolutionary incompatible changes in major areas (extremely r

[2015-11-19 12:48] arcivanov commented on #257
@mriehl feedback please

[2015-11-19 12:58] mriehl commented on #257
Yes agreed. But I'd try to start optimistically and only have plugins indicate a *minimum* version of PyBuilder (if they so wish).

I don't think a plugin should break by default because there was a major version increment since the incompatible change(s) might not affect the plugin at all.

A minimal version should be enforced though.

I guess some kind of static function that plugins can call à

[2015-11-19 14:48] arcivanov commented on #257
Agree.

I was thinking more along the lines of

[code]

in __init__.py of the plugin package or in plugin module.

[2015-11-19 16:57] mriehl commented on #257
I am not sure I like the complexity this inversion of control introduces.

A library function would allow me as a plugin author to:

* Handle the constraint failing (fallback to some code that does not take advantage of the newest API for example)
* Decide when the constraint should be enforced - maybe I have 5 tasks but only one has an API version constraint. A library function would allow me to

[2015-11-19 17:56] arcivanov commented on #257
I'm not sure where you see the inversion of control here.

The plugin has access to `pybuilder` package and can look up and interpret `pybuilder.__version__` anywhere in the init module, including `@init` already.

The case I'm targeting is whether the plugin should be at all initialized within the current build given the running PyB.
Example 1: A user upgrades PyB but some of the plugins are not

[2015-11-19 18:00] arcivanov commented on #257
To take a lesson from Thunderbird plugins, for example, [this is a common situation](https://www.python.org/dev/peps/pep-0440/#examples):

My plugin supports PyB versions 0.13.x but not 0.14.y, therefore `pyb_version="~=0.13"` and that's it.

[2015-11-19 18:03] arcivanov commented on #257
@locolupo @esc thoughts?

[2015-11-19 22:35] mriehl commented on #257
Yeah I gave it some more thought and you're right. The library function approach has the showstopper that it's not backwards compatible, whereas declaring a local at the module level is.

I guess I wanted to avoid look-before-you-leap constraints in plugin that lead to build crashes when the plugin would actually work fine, but at this point it's not much more than a crystal ball guess.

Agreed fo

[2015-11-20 03:56] arcivanov commented on #257
:+1:

[2015-11-20 11:13] codesplicer commented on #255
Yes my initialiser was raising the SystemExit but it was getting ignored by pybuilder.

[2015-11-20 11:16] codesplicer opened #261 "Whats the difference between 'version' and 'project.version'?"
I'm trying to set the version from an environment variable (which is set by my CI tool) and I'm confused as to why my tarball in target/dist doesn't match project.version?

[2015-11-20 12:56] #188 closed

[2015-11-20 12:58] arcivanov commented on #261
What is the version you're specifying in your `build.py`, version you expect in `project.version`, version of PyB you are using and version you observe in the tarball?

[2015-11-20 13:24] codesplicer commented on #261
Pybuilder version: 0.11.2
Python: 2.7.10

From build.py
[code]
So I expect version 2.0.0.dev0, but in my ```target/dist``` folder I get ```target/dist/myproject-1.0.dev0/dist/myproject-1.0.dev0.tar.gz```

Where is 1.0.dev0 coming from?

[2015-11-20 14:35] arcivanov commented on #261
[code]

[2015-11-20 14:39] arcivanov commented on #261
`project.version` is a read-only property that is initialized based on the configuration supplied via `build.py`. [This documentation](http://pybuilder.github.io/documentation/manual.html#ProjectAttributes) is unfortunately wrong.

[2015-11-20 15:01] arcivanov opened #262 "Add "-T" option that shows actual build plan"
Currently `-t` shows all available tasks in alphabetical order.

Using `pyb -T [<task> [task]*]` we should show an actual build plan as it would be executed without actually executing it.

The other alternative is to use `--show-plan`.

[2015-11-20 15:04] arcivanov opened #263 "Using `-o/--exclude-all-optional` should exclude all optional tasks"
Currently

`-x <task>, --exclude=<task>
                        Exclude optional task dependencies`

Using `-o/--exclude-all-optional` should filter out all optional tasks from the build plan.

[2015-11-20 15:05] arcivanov commented on #262
@mriehl review please

[2015-11-20 15:05] arcivanov commented on #263
@mriehl review please

[2015-11-20 15:06] arcivanov commented on #200
depends on #263

[2015-11-20 15:37] codesplicer commented on #261
Thanks, that resolved my issue.

[2015-11-20 15:37] #261 closed

[2015-11-20 16:49] arcivanov commented on #261
:+1:

[2015-11-20 21:47] esc commented on #262
I usually expect both a short and long option from my unix tools. I would suggest the following combinations:

* ``-t`` and ``--show-tasks``
* ``-T`` and ``--show-plan``

If ``--show-tasks`` is unlikely however, I would advocate for ``-T``.

[2015-11-20 21:48] esc commented on #262
``--tasks`` and ``--plan`` or even ``-p`` instead of ``-T`` are also options.

[2015-11-21 01:25] arcivanov commented on #262
@esc yep, I assumed there would be long names.

[2015-11-21 17:11] mriehl commented on #263
:+1: but make it --exclude-all-optional to avoid ambiguity

[2015-11-21 17:54] arcivanov commented on #263
Will do

[2015-11-21 17:58] #262 closed

[2015-11-22 18:46] arcivanov opened #265 "Optional task exclusion doesn't function correctly"
Executing `./build.py -T -X -o publish` we get:

[code]
with the following output
[code]

This is wrong as resolution skipped whole branches that should not have been skipped. That is `publish` does have a hard requirement on `package` which has a hard requirement on `compile_sources` and so on.

The resolution code should be restored and optional tasks should be excluded during the execution path

[2015-11-23 17:25] h1f1x opened #267 "Error importing unittest: No module named xmlrunner"
If I replay the [tutorial](http://pybuilder.github.io/documentation/tutorial.html) I get an error when I try to execute the first pyb with unit testing.

I attach the complete session (the full error is in the last lines):

	$ virtualenv venv
	New python executable in venv/bin/python
	Installing setuptools, pip, wheel...done.
	$ source venv/bin/activate
	(venv)$ pip install pybuilder
	Collecting p

[2015-11-23 17:33] esc commented on #267
``pyb install_dependencies`` didn't install the ``xmlrunner``??

[2015-11-23 21:12] arcivanov commented on #267
https://github.com/pybuilder/pybuilder/blob/master/src/main/python/pybuilder/plugins/python/unittest_plugin.py#L42 - wrong dependency, let me fix this

[2015-11-23 21:16] arcivanov commented on #267
Workaround is:
[code]

[2015-11-23 21:17] #267 closed

[2015-11-23 21:21] arcivanov commented on #267
Fixed as of 0.11.3.dev20151123211844. Please use

[code]

[2015-11-23 21:29] #263 closed

[2015-11-24 03:03] arcivanov commented on #255
@codesplicer @mriehl I can't actually reproduce this, please see #270 - it fails correctly

[2015-11-24 05:54] arcivanov commented on #255
@codesplicer @mriehl nevermind, this actually happens in `cli` somewhere - integration tests don't reproduce it

[2015-11-24 06:08] arcivanov commented on #255
`SystemExit` was made to inherit from `BaseException` instead of `Exception` in Python 2.5+. I added necessary check.

[2015-11-24 06:08] #255 closed

[2015-11-24 06:09] arcivanov commented on #234
@jewishjeff bump

[2015-11-24 06:24] arcivanov commented on #255
Fixed as of version 0.11.3.dev20151124060943

[2015-11-24 19:13] arcivanov opened #272 "PyB plugins use wrong external tool dependencies"
Throughout the PyB internal plugins use `project.build_depends_on`:
- [Flake8](https://github.com/pybuilder/pybuilder/blob/master/src/main/python/pybuilder/plugins/python/flake8_plugin.py#L39)
- [Coverage](https://github.com/pybuilder/pybuilder/blob/master/src/main/python/pybuilder/plugins/python/coverage_plugin.py#L39)

Firstly, PyB __build__ does not really depend on those. It's the __runtime us

[2015-11-26 01:40] romcab opened #274 "PyBuilder with VirtualWrapper"
Hi guys,

First, congratulations on this great project :).

Below is my project setup.
- Virtual environment is saved into a default location (C:\Users\username\.virtualenvs\venv).
- My current project is in (C:\MyProjects\my-Sample
- Using Pycharm, I configure to use the venv environment and install the needed package.
- I then tried to run the script and it worked.
- In a powershell, I run pyb a

[2015-11-26 03:25] arcivanov commented on #274
Hello thank you for your interest and PyB. Dependencies are configured in the init section using `project.build_depends_on` and `project.depends_on`.

Please see [documentation](http://pybuilder.github.io/documentation/plugins.html#anchor25).

Let me know if this still doesn't work for you.

[2015-11-26 05:00] romcab commented on #274
@arcivanov  thank you for your quick response.

I already have project.build_depends_on in my build.py file. I could also verify that all dependency files were added in the c:\users\romcab\.virtualenvs\sentiment\lib\site-packages folder. My problem is that the .zip file inside the dist file does not contain the dependencies. Below are the part of my build.py

default_task = ['clean', 'install_depe

[2015-11-26 05:36] esc commented on #274
This is not the way Python works. The project ZIP file is not intended to contain the project dependencies.

One question: are you perhaps trying to package and distribute AWS Lambdas?

[2015-11-26 07:32] romcab commented on #274
@esc thank you for replying.

sorry, i am not familiar with AWS Lambdas.

My intention is to package and distribute to different working machines. i thought pybuilder will collect all dependencies and put inside the zip file which is ready to distribute- similar to maven package.

[2015-11-26 08:12] arcivanov commented on #274
@romcab neither PyB nor setuptools/distools do that. Python packages declare dependencies but don't carry them. If you would like to have that, please generate a bdist_wheel instead of the mere zip. Then you can use that wheel (whl) package with its dependencies via `pip wheel`: [To build wheels for your requirements and all their dependencies to a local directory(http://pip.readthedocs.org/en/sta

[2015-11-26 10:53] romcab commented on #274
Oh i see...i thought that's how it works... I'll take a look at this wheels which suits my requirements.

Anyway, I'll take this opportunity to ask what's the usual way to build and deploy a python code...

[2015-11-26 17:27] arcivanov commented on #274
You build a wheel and either distribute the file or post it to pypi and make it available that way.

[2015-11-26 19:52] arcivanov commented on #274
I'm going to close this as it's a non-issue. Feel free to continue asking questions here if you'd like more clarifications.

[2015-11-26 20:04] #274 closed

[2015-11-27 02:46] #257 closed

[2015-11-27 02:47] #265 closed

[2015-11-27 14:36] arcivanov opened #275 "Add ExecutionManager.is_task_in_current_execution_plan"

[2015-11-27 14:55] arcivanov opened #276 "Add support for installing plugins via VCS"
[code]

This translates to `pip install --upgrade git+git://github.com/...`

@mriehl review please. I'm going to implement it as stated but if you find a problem I'll adjust later on.

[2015-11-27 20:29] #275 closed

[2015-11-28 11:25] #200 closed

[2015-11-28 11:43] #276 closed

[2015-11-28 22:49] arcivanov opened #279 "Add mypy linting checker plugin"
http://mypy-lang.org/

Performs flake8-style linting checking.

[2015-11-30 19:57] arcivanov opened #280 "Cram should handle test absence gracefully"
[code]

[2015-11-30 22:49] arcivanov opened #282 "`pyb install` should use `pip install --force-reinstall` instead of `setup.py install`"
The reason for this is that `setup.py install` does not handle multiple packaging styles whell, i.e. if you're installing a zipped up Egg it will install it along side the wheel, causing potential conflicts.

[2015-11-30 22:50] #280 closed

[2015-11-30 22:55] arcivanov commented on #272
@mriehl @esc thoughts? I'm going to start implementing as stated, please weigh in if you have objections

[2015-12-01 23:55] #282 closed

[2015-12-02 20:46] arcivanov opened #284 "Env is not inherited properly by integrationtest plugin for PyB"
While fixing #272 I found that integration tests can actually run in the environment that would not inherit VENV from PyBuilder spawning it. This creates a whole host of problems where integration tests would be run in Python environment different from that in which PyB runs unit tests.

[code]

Notice that while PyB runs in a VENV with Python 3.5, the integration tests do not inherit it at all an

[2015-12-02 20:56] arcivanov commented on #284
This is solved with `project.set_property("integrationtest_inherit_environment", True)` for PyBuilder.

[2015-12-03 06:44] #272 closed

[2015-12-03 06:44] #284 closed

[2015-12-03 07:27] arcivanov opened #286 "Release 0.11.3"
This is a release prep for milestone 0.11.3.

- [x] Bugs and features reviewed and signed off
- [x] Do we want anything else for this release?

@mriehl @esc @locolupo

[2015-12-03 16:59] mriehl commented on #286
Just wanted to chime in real quick and mention that I'll catch up with all my notifications tomorrow morning. Data coverage in France was really bad for some reason.

[2015-12-04 04:25] arcivanov commented on #286
:+1:

[2015-12-04 06:55] arcivanov opened #287 "Must use getfullargspec() on Py3.5 with annotations"
[code]

[2015-12-04 07:21] arcivanov opened #288 "Execute_command should handle None-output better"
[code]

[2015-12-04 07:57] #287 closed

[2015-12-04 08:01] mriehl commented on #263
:+1:

[2015-12-04 08:29] mriehl commented on #272
`get_package_version` doesn't seem to always work, on my machine (using a virtualenv) for instance it always reports `None` even when the packages are installed, leading to long build times since dependencies are installed all the time.

I'm investigating why that is.

[2015-12-04 08:34] mriehl commented on #272
For example
[code]

but

[code]

[2015-12-04 08:39] mriehl commented on #272
Ahhh. In the pip version I have, `search_packages_info` expects a Traversable:

https://github.com/pypa/pip/blob/13d43e3af8b5c8e8c7c66dde8a9f76b340697c3e/pip/commands/show.py#L54

So this works:

[code]

Isn't that the case on your pip version @arcivanov ?

[2015-12-04 10:55] #288 closed

[2015-12-04 12:14] arcivanov opened #291 "Issue #281 does not disable cram tests properly"
[code]

[2015-12-04 13:47] #291 closed

[2015-12-04 16:14] mriehl commented on #286
@arcivanov We need to do something about #272 because it increases build times unnecessarily (see my comments there) but other than that I'm good.
What do you say @esc?

[2015-12-05 04:46] arcivanov commented on #272
@mriehl search_packages_info always works for me with an iterable query. I'm going to create a separate issue to increase plugin dependency check performance.

[2015-12-05 05:35] arcivanov opened #293 "Harden and optimize use of `search_packages_info` in #272"
See https://github.com/pybuilder/pybuilder/issues/272#issuecomment-161908988

[2015-12-05 06:23] #293 closed

[2015-12-06 08:42] mriehl commented on #272
@arcivanov I think there's still an issue :/ the latest build from master installed `unittest-xml-reporting` twice, for example (but I'm not sure why that is).

https://travis-ci.org/pybuilder/pybuilder/jobs/95025723#L749

and

https://travis-ci.org/pybuilder/pybuilder/jobs/95025723#L1443

[2015-12-06 08:45] mriehl commented on #272
Ah, looking at https://github.com/arcivanov/pybuilder/blob/da5f51009fd0df2889d9939de39e276049e386ca/src/main/python/pybuilder/pip_utils.py#L137 it seems the pip query is using the package name string as an iterable, e.G. `["u", "n", "i", "t", "t", "e", "s", "t".....]` so this doesn't match anything. We should return `[mixed.name]` when normalizing instead.

[2015-12-06 12:33] arcivanov commented on #272
@mriehl at https://github.com/arcivanov/pybuilder/blob/da5f51009fd0df2889d9939de39e276049e386ca/src/main/python/pybuilder/pip_utils.py#L137 we now always have a collection there (as_list(mixed)), no?

[2015-12-06 14:11] mriehl commented on #272
Yes, that's right.. I'm not sure why travis installs plugin runtime dependencies twice then. Will investigate tomorrow morning

[2015-12-06 17:55] arcivanov commented on #272
I'm investigating already, don't worry about it. I suspect this is related to how pip is implemented and that it doesn't actually refresh internal package cache every time running in-process.

[2015-12-06 18:10] arcivanov commented on #272
@mriehl yep, it's internal pip implementation

[code]

for code

[code]

[2015-12-06 19:01] arcivanov opened #295 "Need to reinitialize Pip workset in pip_utils"
[code]

for code

[code]

[2015-12-06 19:46] #295 closed

[2015-12-07 12:45] mriehl commented on #272
Yup works great now! Thanks :+1:

[2015-12-16 15:03] stbland opened #297 "install dependencies behind proxy"
I'm **unable to install dependencies** when my network use **HTTP proxy**
[code]

Extract of unittest-xml-reporting.err file :

Environnement variable is set like below :
[code]
I try this command line too :
[code]
I think the **pip_utils.py** file must be updated to handle PROXY server.

A package could be installed behing proxy by using the command line below :
[code]

[2015-12-16 16:20] mriehl commented on #297
Hmm, doesn't pip itself handle `http_proxy` and `https_proxy`? That's a convention for linux software.

Anyway I think you'd need to set a `https_proxy` since pip uses HTTPS nowadays and possibly also whitelist the pypi CDN in your proxy config.

Other than that, I'll have a lookif there is something we can do.

[2015-12-16 23:29] arcivanov commented on #297
@stbland what version are you on? 0.11.3.dev?

[2015-12-17 15:23] mriehl commented on #297
So after some experiments it looks like pip handles the `HTTPS_PROXY` environment variable (`HTTP_PROXY` is not used because pypi connections use HTTPS).

@arcivanov this means in `pip_install` we should be using `os.environ()` and not `None`.

I think it's better to just inherit the environment when calling pip instead of translating `HTTPS_PROXY` into the `--proxy` option so that this logic is k

[2015-12-18 00:13] arcivanov commented on #297
@mriehl :+1:

[2015-12-18 04:17] arcivanov commented on #297
@stbland please get latest 0.11.3.dev version and let me know if your problem is fixed. Thanks.

[2015-12-18 04:22] arcivanov commented on #286
@mriehl @esc are we cool releasing 0.11.3 after pending #297 verification?

[2015-12-18 07:28] esc commented on #286
@arcivanov @mriehl sorry I have been MIA due to responsibilities in other places, I'll try to catch up today but can't make any promises.

[2015-12-18 08:56] mriehl commented on #297
I don't think this will solve @stbland 's problem, because in `install_dependencies_plugin.py` we still have

[code]
We'd have to either pass the environment in the `install_dependencies` plugin too or just use `pip_install` from there.

[2015-12-18 08:57] mriehl commented on #286
As soon as @stbland confirms the fix we should go ahead and release 0.11.3. I think there's still a change missing, see my comment in #297

[2015-12-18 10:56] stbland commented on #297
@arcivanov I'm using the 0.11.2 version of PyBuilder and the 2.7 version of Python.
How to install 0.11.3.dev version without having to cloning GIT repository ?

[2015-12-18 11:05] mriehl commented on #297
@stbland just `pip install --pre pybuilder`

[2015-12-18 11:21] arcivanov commented on #297
@stbland `pip install git+git://github.com/pybuilder/pybuilder` will also work (you can use branch specifier as well)

You can also use `pip install --upgrade --pre pybuilder` to get the latest as @mriehl specified.

[2015-12-18 11:22] arcivanov commented on #297
@mriehl you're right let me check this

[2015-12-18 11:30] arcivanov opened #299 "install_dependencies_plugin should use environment"
`install_dependency` should invoke `pip` with os.environ inherited

connected to #297

[2015-12-18 12:14] #299 closed

[2015-12-19 17:25] arcivanov opened #301 "PyB coverage plugin should exclude namespaces"
This issue directly relates to https://bitbucket.org/ned/coveragepy/issues/456/coverage-breaks-with-implicit-namespaces

I will filter out namespace modules that are not backed by files.

[2015-12-19 18:56] #301 closed

[2015-12-19 18:59] arcivanov commented on #297
@stbland are you satisfied with the solution?

[2015-12-21 08:13] stbland commented on #297
After installing 0.11.3.dev version and adding some new dependency to my project ( project.build_depends_on('pyOpenSSL') ), I run pyb install_dependencies -X but I get an error : **[Error 2] The specified file can not be found**

pyOpenSSL and pyOpenSSL.err files in \target\logs\install_dependencies directory are empties.

Extract of command's output below :

...
[DEBUG] Have loaded plugins python

[2015-12-21 10:16] arcivanov commented on #297
This doesn't looks correct at all @stbland:

`Environment` in PyB is a bunch of environment-specific settings and logic.

Try running this:

`HTTP_PROXY=http://127.0.0.1:3127 pyb -X install_dependencies`

[2015-12-21 12:14] stbland commented on #297
@arcivanov I'm a running on a Windows 7 system, HTTP_PROXY environnement variable is already set. If I try to run an equivalent command **set HTTP_PROXY=http://127.0.0.1:3127 && pyb_.exe -C -X install_dependencies**, I get the same output "BUILD FAILED - [Error 2] The specified file can not be found". I'm going to sent you full output in a private mail.

[2015-12-21 12:19] mriehl commented on #297
I think the file that cannot be found is actually `pip2.7`. Maybe you have to use the full executable name on windows, e.G. `pip2.7.exe`?

[2015-12-21 12:29] stbland commented on #297
@mriehl you're probably right, on Windows systems, when you call pip2.7 from command line, the system try to run pip2.7.exe binary or pip2.7.bat shell file.

[2015-12-21 12:40] mriehl opened #303 "Pip executable must have file suffix on windows"

[2015-12-21 12:44] mriehl commented on #297
@arcivanov I have a pending PR here: #304

Just tried to install things through a proxy on linux and it works fine, so I think we just have the pip executable file issue that needs solving here

[2015-12-21 18:40] #303 closed

[2015-12-22 09:04] mriehl commented on #297
@stbland mind having another try with the now latest dev version? I think it should work on windows now.

[2015-12-22 09:47] mriehl commented on #297
Closed via #304

[2015-12-22 09:47] #297 closed

[2015-12-22 09:49] mriehl commented on #286
@arcivanov anything pending on your end? I think we're good to go for the release.

[2015-12-22 10:04] stbland commented on #297
Since I set **HTTPS_PROXY** equal to **HTTP_PROXY** in my Windows environnement, **pip** command line works without **--proxy** parameter.

I execute the commands below :

[code]

It works fine with PyBuilder version 0.11.3.dev20151221184221

[2015-12-22 10:26] stbland opened #305 "clean task doesn't delete pyc files"
The clean task doesn't delete .pyc files created in src directory tree by compile_sources task.

[2015-12-22 10:50] arcivanov commented on #286
@mriehl nope, ready when you are

[2015-12-22 11:13] arcivanov commented on #305
pyc files are not really created by the `compile_sources` task - it'a a noop AFAICT. They are created by Python itself and location varies. In 3.5 the path is __pycache__. In 3.4 and below the files are colocated with sources.

[2015-12-22 11:14] arcivanov commented on #305
@mriehl thoughts?

[2015-12-22 15:44] mriehl commented on #305
I am not sure this belongs in pybuilder, because the pycache / pyo files are generated by the interpreter as a side effect.

If we delete them then we cannot ensure that we are only deleting files that are backed by source files which could be destructive.
Also afaik it's usually not an issue to keep pycaches around unless you're renaming modules.

So maybe we need:

* clean task that removes the

[2015-12-22 16:22] arcivanov commented on #305
Do we need it though? It's managed by Python runtime to begin with, I would be uncomfortable disturbing it. The user can always exclude the files with .gitignore and other similar facilities.

[2015-12-23 08:08] mriehl commented on #286
I am writing the release notes right now.

[2015-12-23 11:35] mriehl commented on #305
My thoughts exactly - since removing pycaches is only needed in edge cases and not trivial to implement I'd try not to mess with it every time `clean` is invoked.

Personally I have used `find` with the `-delete` flag in the past to get rid of pycaches and it's easy enough IMHO.

[2015-12-27 03:15] arcivanov opened #306 "Generated setup.py needs to handle pip on Windows"
connected to #303

[2015-12-27 03:30] #306 closed

[2015-12-28 07:30] esc commented on #286
so, where is it?

[2015-12-28 07:35] esc commented on #286
I am really eager to get this, since I am waiting for the `print_module_path` and `print_scripts_path` tasks. :see_no_evil: :hear_no_evil: :speak_no_evil:

[2015-12-28 22:03] mriehl commented on #286
@esc you can simply bump the version, travis will release it. I'll take care of it tomorrow if it's still not done. Release notes are done already.

[2015-12-29 07:04] esc commented on #286
Allright, here goes!

[2015-12-29 07:09] esc commented on #286
done, let's see what happens now!

[2015-12-29 07:10] esc commented on #286
It has worked: https://pypi.python.org/pypi/pybuilder/0.11.3 huzzah!

[2015-12-29 07:10] #286 closed

[2015-12-29 07:15] esc commented on #286
I bumped the version to 0.11.4.dev also, hope that is OK.

[2015-12-29 08:12] mriehl commented on #286
@esc thx. Mind also tagging 3b84005994c4467050b75b9f9fd4590f2cb00a1a with `v0.11.3`?

[2015-12-29 08:17] esc commented on #286
sure

[2015-12-29 08:20] esc commented on #286
I noticed, you made lightweight tags in the past, would suggest to start using heavyweight tags, since they include the tagger and date. You could (and should) also sign them as PyBuilder is gaining popularity and you should cryptographically ensure that *you* released *it*.

[2015-12-29 08:21] esc commented on #286
Tag has been pushed.

[2015-12-29 08:21] esc commented on #286
also, does anyone mind, if I add myself to the authors?

[2015-12-29 08:37] mriehl commented on #286
Not at all, go ahead!

[2015-12-30 09:12] arcivanov opened #308 "Allow dynamic discovery entry_points configuration"
We currently allow [console_scripts](https://pythonhosted.org/setuptools/setuptools.html#automatic-script-creation), however [dynamic discovery](https://pythonhosted.org/setuptools/setuptools.html#dynamic-discovery-of-services-and-plugins) entry points are not configurable.

[2015-12-30 09:19] arcivanov commented on #308
@mriehl please review when available

[2015-12-30 09:20] #308 closed

[2016-01-06 15:00] denisgarci opened #310 "Task install_dependencies doesn't work in version 0.11.3"
After upgrading to version 0.11.3. Here is the trace:
[code]
Otherwise thank you for the great work!

[2016-01-07 10:02] mriehl commented on #310
Looks like you are using miniconda, yes?
@arcivanov apparently miniconda (tried with 3.5) does not use the version-dependent name for pip (eG `pip3.5`). It's always `pip`. But for `sys.executable` they use the version-dependent name too (`python3.5`)...

I guess we could

* fallback to a pip executable without version info if the command fails
* try to detect miniconda somehow
* find matching `pip

[2016-01-07 13:54] snordhausen commented on #310
I hit a very similar/identical problem, but without miniconda. I tried to build [aws-monocyte-alarming-lambda](https://github.com/ImmobilienScout24/aws-monocyte-alarming-lambda) and got this:

[code]
The problem also occurs with a fresh virtualenv (=most recent packages of everything). Downgrading to pybuilder 0.11.2 fixed the issue.

[2016-01-07 15:51] mriehl commented on #310
@snordhausen this is not the same problem - you're using an internal API (`as_pip_argument`) from the install dependencies plugin which has been removed. You probably want `pip_utils.build_dependency_version_string` (but it's not a public api either)

[2016-01-07 15:51] snordhausen commented on #310
The problem I am seeing is due to an API change in one of the builtin plugins, see https://github.com/pybuilder/pybuilder/commit/2b3704c3e927092741eb8f9fb6ede5b5028d2a93.

When I re-add the function like this:
[code]
in `pybuilder/plugins/python/install_dependencies_plugin.py`, my build failure goes away.

Is there a chance that this API feature will return, or should I adapt the pybuilder_aws_plu

[2016-01-07 15:52] snordhausen commented on #310
Thanks, missed your reply by 11 seconds.

[2016-01-07 15:57] mriehl commented on #310
@snordhausen honestly I'd inline it in `pybuilder_aws_plugin`. I don't really want to guarantee backwards compatibility for the implementation of bundled plugins. However `pip_utils` (the new module) would be backwards compatible, so if you can use it in your plugin then it should be fine. `as_pip_install_target` is still there for instance.

[2016-01-07 20:07] arcivanov commented on #310
Definitely should fallback onto `pip` if can't invoke with version-specific executable. I'll fix this.

[2016-01-08 08:51] denisgarci commented on #310
Thanks for the quick reply! I'm indeed using miniconda (with Python 2).

[2016-01-08 17:56] #310 closed

[2016-01-08 17:57] arcivanov commented on #310
@mriehl @denisgarci so the solution is simpler: `sys.executable -m pip.__main__` should work every time and invoke pip with predictable python version in multi-python environments.

[2016-01-11 14:20] snordhausen opened #312 "install_dependencies_(extra_)index_url should affect all PIP operations"
Hi!

When the [prepare task](https://github.com/pybuilder/pybuilder/blob/master/src/main/python/pybuilder/plugins/core_plugin.py#L67) calls the [pip_install() function](https://github.com/pybuilder/pybuilder/blob/master/src/main/python/pybuilder/pip_utils.py#L63), it does not set the index_url parameter. This makes the prepare task hang on systems where pip needs an --index-url parameter. It shoul

[2016-01-11 16:37] arcivanov commented on #312
@snordhausen will take a look today, thanks for the report

[2016-01-12 01:26] arcivanov commented on #312
@snordhausen ok, I took a look. I don't know how downgrading to 0.11.2 fixed the problem as the referenced feature in [prepare task](https://github.com/pybuilder/pybuilder/blob/master/src/main/python/pybuilder/plugins/core_plugin.py#L67) wasn't there at all.

[2016-01-12 15:42] #312 closed

[2016-01-20 19:56] jljs opened #314 "pylint_options"
Hi,

I'm just wondering if pylint_options (Options to be passed to pylint) is currently supported? I tried to pass pylint options as the following in build.py

project.set_property("pylint_options", ["--max-line-length=200"])

but it does not seem to work.

Thanks

Jeffrey

[2016-01-20 20:14] mriehl commented on #314
It's supposed to work but I suppose it never did. I can add it if you want (been using the flake8 plugin personally which is faster and finds more flaws)

[2016-01-20 21:05] jljs commented on #314
Yes. I think it will be useful. At the least I can provide options like --rcfile to specify the location of my pylintrc file.

I'm noting your preference on flake8. I personally find the documentation for flake8 not so well written.

Thanks

Jeffrey

[2016-01-24 09:03] #314 closed

[2016-01-24 09:05] mriehl commented on #314
@jljs can you try with the latest version (`pip install pybuilder --pre`)? If you're happy with it I'll do a proper release.

[2016-01-26 21:11] maerteijn opened #317 "What happened with pybuilder release plugin?"
On several places (https://github.com/pybuilder/pybuilder/blob/master/README.md and http://pybuilder.github.io/documentation/examples.html) there is a reference to the pybuilder release plugin. However, it's been removed from github (https://github.com/aelgru/pybuilder_release_plugin) and pypi (https://pypi.python.org/pypi/pybuilder_release_plugin/)

What happened with it ? :)  (and should this no

[2016-01-29 10:49] esc commented on #234
Yeah, bump.

[2016-01-29 10:50] esc opened #319 "Release notes out of date."
Release notes are missing entries for ``0.11.4`` ``0.11.5`` and ``0.11.6``.

[2016-01-29 11:04] esc commented on #319
Fixed via https://github.com/pybuilder/pybuilder.github.io/commit/b959373b2cc35ef1b6113d895bf4bff56255804b

I added links to the pull-requests and not the issues, hope that is OK. BTW, using the command line git-hub tool, you can turn issues into pull-requests by attaching commits to them. Perhaps that might be interesting for y'all to reduce number of issues/pull-requests and simplify the workflo

[2016-01-29 11:12] #319 closed

[2016-01-29 11:39] esc opened #320 "Pybuilder versioning really broken"
Check this out!

[code]

[2016-01-29 11:41] esc commented on #320
Oups, my bad, forgot to rehash after installing.

[2016-01-29 11:41] #320 closed

[2016-02-02 10:03] Lucas-C opened #321 "Segmentation fault (core dumped) under Cygwin"
Hi,

Here is my issue:

[code]

I think this is due to the `is_windows()` check in https://github.com/pybuilder/pybuilder/blob/master/src/main/python/pybuilder/utils.py#L288 that returns False.

I've already been bitten by this in the past :
[code]

Are you ok to modify https://github.com/pybuilder/pybuilder/blob/master/src/main/python/pybuilder/utils.py#L274 in the following way ?
[code]

I teste

[2016-02-02 10:51] mriehl commented on #321
I think it's fine. Do you want to provide a pull request?

[2016-02-02 16:31] mriehl commented on #317
Looks like the repository was deleted. Maybe @aelgru wants to chime in?

I'll remove the stale links and update the documentation. Thank you for reporting this.

[2016-02-02 16:45] aelgru commented on #317
@maerteijn Try this: https://github.com/new

 `src/main/python/pybuilder_release_plugin/__init__.py`
[code]
... then upload it to pypi.

[2016-02-03 01:05] arcivanov commented on #317
@mriehl @aelgru The upload is in the core plugin set now.
https://github.com/pybuilder/pybuilder/blob/master/src/main/python/pybuilder/plugins/python/distutils_plugin.py#L210

[2016-02-08 08:34] #321 closed

[2016-02-08 08:38] mriehl commented on #317
I'm closing this - plugin is no longer maintained by aelgru but if you want the functionality back it's here.
I'd also recommend using the core upload (which can nicely be combined with a `.dev` version), but you'll lose the automated git tagging and VCS sync. TBH I think it's (usually) better to release from CI anyway (eG travis) and pushing (or even worse, signing) tags from there is really prob

[2016-02-08 08:38] #317 closed

[2016-02-09 03:24] arcivanov opened #325 "PyB distutils plugin upload signing"
Folks, I'll be implementing upload PGP signing with distutils where applicable.

Anyone has any specific wishes regarding feature set?

I'm planning to require key identifier in distutils plugin configuration if signing is turned on.

More details here: https://docs.python.org/3.5/distutils/packageindex.html#the-upload-command

[2016-02-09 04:08] arcivanov commented on #305
Should we close this one? @mriehl

[2016-02-09 14:01] #305 closed

[2016-02-10 09:38] esc opened #326 "color for pybuilder"
Hi,

is it possible to theme the pybuilder color output. I recently switched to a light terminal background and find it hard to see the yellow text for `WARN`.

[2016-02-10 10:01] mriehl commented on #326
Actually it's supposed to be brown, [according to the code](https://github.com/pybuilder/pybuilder/blob/master/src/main/python/pybuilder/cli.py#L74)??

Are you using tmux and if so are you using the `screen-256color` mode for `default-terminal`?

As for customizing, it's not difficult to change per se, but a per-user customization would have to be global (you don't want to do this for every `build

[2016-02-10 10:56] esc opened #327 "Question about version specific dependency handling"
Let's say I do:

[code]

Does anyone know if this will propagate to the generated `setup.py`? My guess would be no, but I can't say for sure...

[2016-02-10 11:05] mriehl commented on #327
Well yes and no. The dependency won't be added if you build it on 2.6. But then the install target doesn't matter.

In short it's used at build time, not at install time.

[2016-02-10 11:17] esc commented on #327
hmmm, I am just wondering about this because I may need to make an OS-Specific dependancy. This should obviously propagate to the ``setup.py`` that will then end up on PyPi. It's not clear yet, if I really do need to make that right now, but I am sure it is just a matter of time until me or someone else hits this snag.

[2016-02-10 11:48] mriehl commented on #327
The pre/postinstall scrips for the setup.py give you a lot of control. But there is no good primitive for dealing with dependencies there. So we might end up having to support some kind of lazy precondition on dependencies that is added to the setup.py

[2016-02-10 13:43] Lucas-C opened #328 "Segmentation fault (core dumped) under Msys2"
Exact same problem as #321, except this time `sys.platform == "msys"`.

What do you think ? I create a similar PR ?

[2016-02-10 18:50] mriehl commented on #328
Yes please! Since it's another variant of cygwin we should handle it similarly.

[2016-02-10 19:14] jljs opened #329 "Source Distribution Format"
Hi,

Is there an option in PyBuilder that allows user to change the format of the source distribution (tar.gz, zip, etc) similiar to the --format in setup.py?

e.g. python setup.py sdist --formats=gztar,zip

Thanks

Jeffrey

[2016-02-10 20:33] esc commented on #327
Yeah, this looks like a bigger feature which probably requires some design work before hitting the keyboard.

[2016-02-11 01:31] arcivanov commented on #329
Hope this answers your question:

https://github.com/pybuilder/pybuilder/blob/master/src/main/python/pybuilder/plugins/python/distutils_plugin.py#L100

[2016-02-11 01:36] arcivanov commented on #329
Ah no, it doesn't. Easy to add though, hold on.

[2016-02-11 02:42] jljs commented on #329
Thank you very much. This will be useful for us.

[2016-02-11 07:29] arcivanov commented on #329
@jljs please let me know if this is acceptable for you

https://github.com/pybuilder/pybuilder/pull/331/files#diff-89cfae322c1152d962878b5848643ed3R101
https://github.com/pybuilder/pybuilder/pull/331/files#diff-a22e545213bbe5bf75b8727d39b5e0daR685
https://github.com/pybuilder/pybuilder/pull/331/files#diff-a22e545213bbe5bf75b8727d39b5e0daR741

[2016-02-11 12:55] jljs commented on #329
This looks great. Thank you.

Just to confirm, I suppose I can do the following to get source distribution in zip?

project.set_property("distutils_command_options", {"sdist": ['--formats', 'zip']})

[2016-02-11 17:46] arcivanov commented on #329
yep :smile:
or
`project.set_property("distutils_command_options", {"sdist": '--format=zip'})`

[2016-02-11 17:55] #329 closed

[2016-02-15 10:39] esc commented on #326
No I am using urxvt256 and yes a `.pybuilder_rc` would be what I had in mind. Oh well, perhaps this is something for a rainy day.

BTW: bold brown is yello IIRC...

[2016-02-15 10:44] esc commented on #326
![2016-02-15-114155_690x154_scrot](https://cloud.githubusercontent.com/assets/41563/13046493/6cf20976-d3d9-11e5-96b4-238cf198eca6.png)

[2016-02-15 21:57] arcivanov commented on #328
Can we get a core dump please as well to make sure we know where in Windows this crashes? It could be `tblib` or python fork or something else, but we should gather data regardless.

Thanks.

[2016-02-17 13:22] Lucas-C commented on #328
Ok, I'll send you a core dump next time I'll be under Windows.
I send you the PR for the fix

[2016-02-18 02:20] #328 closed

[2016-02-18 02:20] arcivanov commented on #328
Thanks!

[2016-02-18 06:25] #325 closed

[2016-02-18 10:14] Lucas-C commented on #328
Stackdump for Cygwin :
[code]

I couldn't reproduce the error for Msys2.

For Cygwin it crashes after the following log lines:
[code]

[2016-02-18 12:08] esc opened #336 "PyBuilder Sprint"
@pybuilder/developers does anyone wnat to have a pybuilder sprint sometime this year? At ImmoScout we have so called "hackdays" every quarter and maybe we could invite some of the external contributors to come-in and join us? Right now, it is just an idea, but I thought I'd suggest it anyway to see if there is any resonance. During the sprint we could fix long-standing issues and make a coordinate

[2016-02-18 16:26] mriehl commented on #336
Count me in if we can make it happen. Could be a great way to find new contributors too.

[2016-02-19 05:55] arcivanov commented on #336
Sounds fun. I'll partake if can find time.

[2016-02-19 15:39] esc opened #337 "New Release"
Many of our builds are still broken because:

https://github.com/pybuilder/pybuilder/pull/333

Isn't released yet. I don't want to have to deal with potential fallout from a new release right now, so I'll defer to Monday for a new release, unless someone beats me to it.

[2016-02-19 15:39] esc commented on #337
cc @snordhausen

[2016-02-19 15:40] mriehl commented on #337
You can pip install --pre or pip install pybuilder==0.11.7.dev20160218114426 since I merged #333 and we release with every push. I am planning to release a new version next week but if you want to do one go ahead.

[2016-02-19 15:43] esc commented on #337
Cool!

[2016-02-24 05:34] BackroomGibbon opened #338 "Using PyBuilder to upload to a local PyPI repo"
Hi,

Is it possible to configure the PyBuilder upload task to upload a distribution to a local PyPI repo, instead of: https://pypi.python.org/pypi?

I'm new to Python, so I might be missing something but I understand that configuring the host repo is done via a .pypirc file. I've created the file and have got it being copied into $dist_dir, next to where the setup.py file is being generated, but t

[2016-02-24 12:35] arcivanov commented on #338
Yes, of course.
https://github.com/pybuilder/pybuilder/blob/master/src/main/python/pybuilder/plugins/python/distutils_plugin.py#L111

[2016-02-24 20:12] esc commented on #337
Sorry, I became Ill. I see a new release was made today, thanks @mriehl.

[2016-02-24 20:15] esc opened #339 "Plugin for Bandit?"
https://github.com/openstack/bandit

[2016-02-24 20:15] #337 closed

[2016-02-24 21:26] mriehl commented on #339
Interesting project! I think it's worth a shot for the projects that need it.

[2016-02-24 21:34] esc commented on #339
cc @sneben : maybe you can include this as part of your standard security audits for python projects?